[2018-11-15 18:42] icelander opened #10 "Add Tooltip to Zoom Icon"
Other icons in the channel header have a tooltip when a user hover overs them for a few seconds, but the Zoom plugin doesn't have one. This should be added.

[2018-12-12 18:53] vpecinka opened #13 "Mattermost 5.5.1 missing bundled zoom plugin, upload of 1.0.2 does not work"
After upgrade to MM 5.5.1 I noticed there is no Zoom plugin anymore in the server release.

When I try to upload release 1.0.2, I get this error when using it:

[code]

I guess it has something to do with the structure of tar.gz archive...

When I use pre-packed tarball from MM 5.5.0 release with 1.0.1 plugin, it works.

[2018-12-13 08:44] hanzei commented on #13
Thanks you very much for the report. I created a PR fix this this: https://github.com/mattermost/mattermost-server/pull/9994.

Would you please open a new issue for this please? Could you also share more log messages?

[2018-12-14 15:53] vpecinka opened #14 "Release 1.0.2 does not work in MM 5.5.1"

[2018-12-14 16:01] vpecinka commented on #14
The plugin is missing as mentioned in #13

However, if I download release 1.0.2 from the GitHub pages and upload it via System console, configure and enable, it ends up with the following error:

[code]

No more errors in the log. The plugin seems extracted correctly:

[code]

The machine `uname -a`

[code]

[2018-12-14 17:54] vpecinka commented on #14
I tried to upload
https://github.com/mattermost/mattermost-server/files/2561237/com.mattermost.zoom-1.0.2.tar.gz that I got earlier when I reported https://github.com/mattermost/mattermost-server/issues/9810

It worked in 5.5.0, it still doesn't work in 5.5.1. However, the error slightly changes:
[code]

It is not `undefined` now, however the plugin id is AFAIK `com.mattermost.zoom`

[code]

[2018-12-14 20:12] hanzei commented on #14
Thanks for the report @vpecinka. Could you please try out the 1.0.3 release? https://github.com/mattermost/mattermost-plugin-zoom/releases/tag/v1.0.3

[2018-12-14 20:12] hanzei commented on #13
Closing this one as https://github.com/mattermost/mattermost-server/pull/9994 got merged.

[2018-12-14 20:12] #13 closed

[2018-12-14 20:20] vpecinka commented on #14
Works well @hanzei Thanks for a quick fix!

[2018-12-14 20:20] #14 closed

[2019-03-23 04:43] checkaayush opened #19 "Zoom API v1 deprecated; Plugin not functional anymore"
Refer: https://zoom.github.io/api-v1/
[code]

[2019-03-24 00:11] jasonblais commented on #19
@checkaayush Thanks for the report! This plugin indeed uses Zoom API v2 https://github.com/mattermost/mattermost-plugin-zoom/blob/master/server/zoom/client.go#L20

Are you having trouble getting the Zoom plugin to work?

[2019-03-24 05:04] checkaayush commented on #19
@jasonblais Sorry, my bad. I just started reading the code and saw use of API v1 here: https://github.com/mattermost/mattermost-plugin-zoom/blob/master/webapp/src/client/client.js#L14

Issue can be closed if that's not the case.

[2019-03-24 05:13] #19 closed

[2019-03-24 23:03] jasonblais commented on #19
@checkaayush Aah, nice one. I created a ticket for our team to take a look and fix as needed. The intent is to use v2 throughout the plugin, but maybe this was missed in a couple of places.

https://mattermost.atlassian.net/browse/MM-14704

[2019-03-25 06:04] hanzei commented on #19
The plugin maintains an API endpoint and versioned it. The code line mentioned above refers to the API version of the **plugin's** http endpoin  and not the http endpoint of some zoom server. . See https://github.com/mattermost/mattermost-plugin-zoom/blob/master/server/plugin.go#L59-L60 for the called code.

To sum this up: The code is fine and no changes are needed.

FYI: We define the used Zoom

[2019-05-28 00:37] jasonblais opened #21 "Migrate Zoom plugin to use bot accounts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Plugin: Jira" community channel](https://community.mattermost.com/core/channels/jira

[2019-06-01 01:35] jasonblais opened #22 "Regression: No feedback when clicking Zoom icon without a matching email address"
Repro (Mattermost v5.11, Mac, Chrome)

1. Sign in with a Mattermost account with an email address that does NOT match your Zoom account.
2. In a public channel, click the video icon in channel header

Observed: Nothing happens

Expected: Ephemeral message posted back with text

[code]

[2019-06-03 15:52] jasonblais opened #24 "Move documentation from https://docs.mattermost.com/integrations/zoom.html to this repository"

[2019-06-04 10:44] hanzei opened #26 "Use to CSRF Header or Form Field"
On MM `master` pressing the start meeting button throws an error in the system log:
`CSRF Check failed for request - Please migrate your plugin to either send a CSRF Header or Form Field, XMLHttpRequest is deprecated`

[2019-06-06 15:57] #21 closed

[2019-06-09 02:15] jasonblais commented on #22
Fixed by https://github.com/mattermost/mattermost-plugin-zoom/pull/28

[2019-06-09 02:15] #22 closed

[2019-06-09 02:16] jasonblais commented on #26
@hanzei Possibly related to https://mattermost.atlassian.net/browse/MM-15783

[2019-07-02 12:25] hanzei opened #31 "Add `/zoom start` command"
Mobile plugins are currently not supported. As a workaround a slash command `/zoom start` should be implemented, that starts a zoom call in the current channel.

Follow up from https://community.mattermost.com/core/pl/qy7bidcuhbgt3xu7rprg6h697c

cc @aaronrothschild

[2019-07-02 17:50] crspeller commented on #26
Those changes should help. But the zoom plugin still needs to use `Client4.getOptions` like other plugins do.

[2019-07-11 07:40] s1lviu opened #33 "Enabling plugin causes WSoD in browsers"
(now tracked in https://mattermost.atlassian.net/browse/MM-19287)

Plugin version:` Zoom (zoom - 1.0.7, pre-packaged)`

Mattermost info:
[code]
With Zoom plugin enabled:

<img src="https://i.imgur.com/yjvh0sy.png">

When disabled, all the things are working ok.

The problem appears only on browsers. Tested on latest Chrome, Firefox with incognito.

In the mattermost desktop mac app, it works with

[2019-07-11 13:20] cpoile commented on #33
Hi @s1lviu, can you watch the server log when this happens and cut and paste what you see there? Thanks!

[2019-07-11 13:23] s1lviu commented on #33
Nothing strange. [Log](https://ybin.me/p/32548c4505f5aef9#0pWhNtzg+AghldGfotUCZJZG36x/8/POiW2Cs4bIMKQ=)

[2019-07-11 13:25] cpoile commented on #33
@crspeller
[code]

[2019-07-12 14:42] crspeller commented on #33
I have seen this before when there is a permissions issue with the MM setup. Can you verify that the `client/plugins` folder exists and has the correct permissions?

[2019-07-13 16:33] s1lviu commented on #33
[code]

[2019-07-18 08:44] dj5k commented on #33
We have this very same issue.
My current assumption is that this occurs when Mattermost is upgraded and the `./client/plugins` is not kept (which is what I did up until recently).
It appears that when a user was already logged in before the upgrade, upon opening the webclient it tries to restore the logged in state and requests the zoom plugin asset and if that does not exist for some reason matte

[2019-07-30 00:39] dhadiseputro commented on #10
I think the current header with the video recorder icon have a tooltip saying "Start Zoom Meeting".
Issue can be close?

[2019-07-30 00:42] dhadiseputro commented on #31
Is this workaround going to be mobile-device-specific then? Or basically make `/zoom start` command to do the same thing as clicking on the video recording icon on the header?

[2019-08-01 02:07] aaronrothschild commented on #31
@dhadiseputro I think that doing the same thing as clicking on the "Zoom" button on the channel header bar would be perfect.  It's also been a request from others, when they don't realize that the zoom button is actually there... they just start typing `/zoom...` People have reported to me their expectation for a slash command a couple of times anecdotally.

[2019-08-01 05:58] dhadiseputro commented on #31
I am new to mattermost development. Based on reading other plugin repos, do I start by creating the file server/command.go to add the `/zoom start` command?

[2019-08-02 06:52] hanzei commented on #31
@dhadiseputro That is correct. Let me know, if you need more guidance.

[2019-08-03 00:41] dhadiseputro commented on #31
I'll work on this.

So my idea is to add `command.go` file in server/. Then inside add the `ExecuteCommand` function that will have a switch case for different commands (right now we only have 1 command `/zoom` and action is `start`).
Inside the `start` case, I will do something similar to `handleStartMeeting` in http.go. High level idea is like this:
- Create `zoom.Meeting` instance with correct

[2019-08-04 05:13] dhadiseputro commented on #31
I have a question, how can I differentiate between a user invoking `/zoom start` from a private message (DM) or a channel?

[2019-08-04 21:35] hanzei commented on #31
The [`CommandArgs`](https://godoc.org/github.com/mattermost/mattermost-server/model#CommandArgs) struct contains a `TeamId` field that is empty if and only if the channel is a DM.

[2019-08-04 21:36] hanzei commented on #31
For deploying your build you can follow the steps outlined at https://github.com/mattermost/mattermost-plugin-starter-template#getting-started

[2019-08-05 02:23] dhadiseputro commented on #31
Okay thanks, I'll check it out!
I am trying to understand how the main mattermost server is connected to the different plugins (or how the mattermost-server knows to include the zoom plugin during build). Is it through the `Makefile` in mattermost-server repo?

[2019-08-05 05:50] hanzei commented on #31
The makefile in this repo uploads the bundle to the MM server. This is done with this https://github.com/mattermost/mattermost-plugin-zoom/blob/master/Makefile#L126 line in `Makefile`.

[2019-08-13 05:19] dhadiseputro commented on #31
just want to make sure, I only need to add command.go right? I tried to `make run` in mattermost-server/ then `make deploy` in mattermost-plugin-zoom/ but I can't get `/zoom` on the localhost.

I am guessing that I am missing this part:
```You will need to restart your server and manually enable your plugin.```
I am not sure what to do here.

[2019-08-13 05:48] dhadiseputro commented on #31
I have tried a lot of things (to deploy my build) with no success. :(
I go this error when doing `make deploy`:
[code]
Is the above saying that it can't find the `MM_ADMIN_USERNAME`/`MM_ADMIN_PASSWORD` env var?

[2019-08-13 11:47] hanzei commented on #31
Yes, that means the of `MM_ADMIN_USERNAME` and `MM_ADMIN_PASSWORD` is either wrong or not found.

[2019-08-14 05:52] dhadiseputro commented on #31
What about this? https://github.com/mattermost/mattermost-plugin-zoom/issues/31#issuecomment-520692246

[2019-08-14 21:54] hanzei commented on #31
If `make deploy` doesn't work for what ever reason you can upload the plugin manually:
1. Start your local mattermost server by running `make run` inside your server directory
2. Build the plugin bundle by running `make dist`
3. Go to http://localhost:8065/admin_console/plugins/management
4. Upload your bundle
5. Enable the plugin

Let me know, you need additional help.

[2019-08-15 07:16] dhadiseputro commented on #31
Thanks! That helped a lot!
So I added `RegisterCommands` in plugin.go, when I try to do `make` it raised a panic.
[code]
Based on the logs, I am assuming that it is using mock. How can I modify the mock to add `RegisterCommand`? thanks!

[2019-08-15 13:16] hanzei commented on #31
`make' also runs the tests. For now it's suitable to just compile the bundle with `make dist` and ignore the tests for now.

You can fix them by mocking the api call with `				api.On("RegisterCommand", mock.AnythingOfType("*model.Command")).Return(nil)`

[2019-08-16 04:04] dhadiseputro commented on #31
Alright! I can get it to work! One thing I am confused with, I am in a personal message room with myself and typed in `/zoom start`. This goes to the case where `if args.TeamId != ""`. I thought DM have `TeamId == ""`?

[2019-08-16 09:04] hanzei commented on #31
I thought the same. But after checking the behaviour again I can confirm that `args.TeamId` is set when the command is triggered from a DM. Sorry for the confusion.

You can check the channel type by fetching the channel via https://developers.mattermost.com/extend/plugins/server/reference/#API.GetChannel

[2019-08-18 02:34] dhadiseputro commented on #31
Thanks! That did the work. I am able to get it working, but I can't test the part to create the meeting room (since I don't have a zoom plan that supports REST API) aside from following the exact code used in http.go. The workflow I have stopped at the point where we are obtaining the zoom user using `zoomClient`.
Can I create a PR and ask for one of you guys to test it using a paid zoom plan you

[2019-08-18 02:48] dhadiseputro commented on #31
oh wow, interestingly I can the zoom to work with my free zoom plan!
After I typed in `/zoom start`:
![image](https://user-images.githubusercontent.com/22417762/63219491-d4d31780-c127-11e9-8be8-0164518ba096.png)

[2019-08-18 04:05] hanzei commented on #31
Awesome :tada: Looking forward to your PR

[2019-08-18 06:06] aaronrothschild commented on #31
Great work @dhadiseputro !  Glad to see you could get it working.  This will be handy!

[2019-08-21 06:40] dhadiseputro commented on #24
Do we want to move everything as-is to this repo?

[2019-08-21 09:20] hanzei commented on #24
@aaronrothschild ^

[2019-08-22 11:35] Amonith opened #37 "New webhooks don't work? (Post in Mattermost is not modified after meeting ends)"
Now tracked in https://mattermost.atlassian.net/browse/MM-19288

Hi,

About a year ago when we tested this plugin in our company, meeting post messages were correctly modified when meeting ended etc.
Currently though nothing happens, only the starting message is posted.

I think that it is related to this check:

https://github.com/mattermost/mattermost-plugin-zoom/blob/93b4a61313209536ac4a377092a

[2019-08-22 11:37] Amonith commented on #37
I can fix this if you confirm that it is a bug.

[2019-08-22 15:09] aaronrothschild commented on #37
This just worked on our instance:
![image](https://user-images.githubusercontent.com/915956/63526356-24ad3800-c4b4-11e9-8ba3-303616bebd07.png)

[2019-08-22 15:25] Amonith commented on #37
How does your setup look like on the Zoom side?
We have the JWT app for the basic thing as mentioned in the documentation:

https://docs.mattermost.com/integrations/zoom.html

And the Webhook-only app for webhooks, which posts stuff about meetings to:

https://OUR_INSTANCE/plugins/zoom/webhook?secret=XXX

We are not using the paid API of Zoom, just those webhooks and JWT app.
Maybe in your company

[2019-08-23 05:20] dhadiseputro commented on #10
@hanzei bump

[2019-09-16 08:12] #31 closed

[2019-10-01 13:24] levb commented on #26
@crspeller can you please provide a link to an example?

[2019-10-01 14:36] crspeller commented on #26
Jira plugin: https://github.com/mattermost/mattermost-plugin-jira/blob/512408ed5cab1238ebe4b718f2120047384d5ac0/webapp/src/client/index.js#L14

[2019-10-03 06:18] hanzei commented on #10
Thanks for the reminder @dhadiseputro :+1: I can confirm that this is fixed

[2019-10-03 06:18] #10 closed

[2019-10-03 16:41] levb opened #42 "implement /zoom connect with OAuth"
Presently, the zoom plugin uses email addresses to connect user accounts.

An alternate way would be to implement a `/zoom connect` command, similar to that of the [Jira](https://github.com/mattermost/mattermost-plugin-jira) or [GitHub](https://github.com/mattermost/mattermost-plugin-github) plugins, using OAuth. The user mapping can then be stored in the KV store, following the above examples.

[2019-10-03 16:49] levb commented on #42
Should also solve https://mattermost.atlassian.net/browse/MM-18828

[2019-10-08 13:04] levb commented on #33
Filed https://mattermost.atlassian.net/browse/MM-19287 to investigate

[2019-10-09 15:48] cadavre opened #43 "Zoom error: User not found on this account – in any configuration"
Hi, I followed the step-by-step described in Mattermost documentation. I have a 'Pro' account, created an Zoom app, copy-paste API key and secret. Applied to Mattermost.

Now when trying to start a meeting with Zoom all of our users are getting:
[code]

User trying to start a new meeting has his own Zoom account. I tried to add users into Zoom > Admin > Users but that doesn't change much.

Most of

[2019-10-09 16:19] levb commented on #43
@cadavre The Mattermost Zoom plugin currently identifies Zoom users by matching the emails on the Mattermost and Zoom accounts. Please make sure you have the same email addresses set up on both sides, and let us know if it does not work.

We have https://github.com/mattermost/mattermost-plugin-zoom/issues/42 to implement OAuth-based user mapping, but there is no specific timeline to implement it,

[2019-10-09 16:22] cadavre commented on #43
Yes, the email address for Mattermost user and Zoom.us account is the same. Double checked, also with non-Google account.

[2019-10-10 15:40] cpoile commented on #43
@cadavre This looks like there's a problem with the API key setup. I know it's a bit of a pain, but could you go through the setup instructions (https://docs.mattermost.com/integrations/zoom.html) really carefully to make sure you've set up the zoom side of things correctly, and put the correct Zoom URL, Zoom API URL, Key, and Secret into the Mattermost Zoom settings?

Also, could you confirm the

[2019-10-10 16:29] cadavre commented on #43
Yes, I've actually made it twice this way.

I'm using Zoom's SaaS so URL and API URL are left empty.

I just don't quite get what's "Webhook Secret" for? Below I can see

But there's nothing about it in "documentation" and also going to https://example.com/plugins/zoom/webhook?secret={generated_token} gives plain/text "Not authorized".

[2019-10-10 18:07] cpoile commented on #43
@cadavre Good find -- I didn't realize the documentation didn't cover the webhook setup. I've filed a ticket for that: https://mattermost.atlassian.net/browse/MM-19364

But that won't affect your users not being found in Zoom by their email. That's an error that Zoom is sending back to Mattermost when it tries to start a meeting.

Is there any other text that is displayed? There should be somethin

[2019-10-12 05:43] gopheros commented on #42
@levb I am starting to work on this issue as it is`Up For Grabs`.
What is a great channel to communicate the progress

[2019-10-12 15:23] levb commented on #42
@gopheros Thank you for taking this on! Please feel free to join the conversation, and seek any advise/info you may need at https://community-daily.mattermost.com/core/channels/plugin-zoom.

[2019-10-14 12:56] cadavre commented on #43
Thanks @cpoile for your response. I had chance to review the situation and I think all that is necessary is actually a docs update. There are few things:

1. On zoom.us, **even if you don't have** a "Pro, Business, Education, or API Zoom plan" – you can create now an integration application on zoom.us, so you can get API key and secret. I managed to get one with "Basic" account.

2. There is no me

[2019-10-15 04:50] limsammy commented on #33
Having this error as well, for all plugins. Also relevant forum post re related issue here: https://forum.mattermost.org/t/mattermost-logs-cli-command-not-working-ubuntu-18-04-3/8285

Here are my relevant logs:

[code]

Here's permissions when I am logged in with my main sudo user (not mattermost):
[code]

And here's perms when running with mattermost user:

[code]

[2019-10-16 04:52] aaronrothschild commented on #37
@Amonith Sorry for the late reply, I've updated the documentation that states that the Zoom plugin doesn't work with unpaid Zoom accounts.   We do support having a mix of free/paid accounts, but you'll need at least one paid account to use the Zoom plugin I believe.

https://github.com/mattermost/docs/pull/3068

[2019-10-16 06:41] Amonith commented on #37
Hi @aaronrothschild,
We do have one paid account and the JWT app is configured on that account properly (as described in the documentation). I still am confused, because Zoom does send all relevant events to MM, but they look different to what the code expects.

[2019-10-16 22:23] mickmister commented on #33
Hello all, it seems there are a few issues here:

1) The server failed to serve the bundle.

2) The webapp failed to gracefully handle the situation where the bundle was not loaded. This is fixed in 5.14 here: https://github.com/mattermost/mattermost-webapp/pull/3189 . The fix applies to the desktop app as well.

@limsammy do you know if this began occurring soon after a server upgrade or redeploy

[2019-10-24 14:10] yoannspace opened #46 "Different Zoom API keys/secrets for different Mattermost Teams"
Hi,
What if I have a server running with Mattermost and 5 different teams (with users from totally different backgrounds and groups, so 5 very different teams). I want to add the Zoom integration on 2 teams only - each of those teams have their own Zoom accounts (API key / API secret). In the administration and the [documentation](https://docs.mattermost.com/integrations/zoom.html) I can only add

[2019-10-28 21:32] mickmister opened #48 "Display username that created zoom chat"
#### Summary

Currently, the post made by the Zoom plugin shows the meeting ID, but does not show who created the meeting. When two people have created a meeting it is not obvious who created which meeting.

#### Screenshots

![image](https://user-images.githubusercontent.com/6913320/67719694-ac2d9080-f9a8-11e9-9831-21469414f5e0.png)

[2019-10-29 23:17] ivernus commented on #48
Does this look like a possible solution @mickmister ? https://github.com/ivernus/mattermost-plugin-zoom/blob/master/webapp/src/components/post_type_zoom/post_type_zoom.jsx

[2019-10-31 04:44] mickmister commented on #33
@limsammy Is this issue still occurring?

I'm going to close this issue for now. We can reopen if necessary.

[2019-10-31 04:44] #33 closed

[2019-11-07 18:19] cpurta commented on #42
@levb I would like to take this one on and have already started working on implementing this.

[2019-11-07 18:47] avddvd commented on #42
@levb @cpurta I was working on this and got the OAuth part working. I can collaborate with @cpurta here or can take another one

[2019-11-12 14:02] levb commented on #37
Should've been fixed by https://github.com/mattermost/mattermost-plugin-zoom/pull/47

[2019-11-12 14:02] #37 closed

[2019-11-18 15:06] yoannspace commented on #46
Dear @levb,
Did you get a chance to discuss this already?
Thanks,
Yoann

[2019-12-03 14:32] levb commented on #46
We have discussed this, but have no immediate plans to work on this - the current capabilities of the plugin framework do not provide for this functionality easily, and re-building the configuration UI within the plugin itself to support this functionality does not appear well-justified. We would like to develop the capability of having team-specific configurations (with UI) provided by the plugin

[2019-12-12 17:04] #42 closed

[2019-12-12 17:52] levb opened #54 "Avoid race condition with users rapid-firing invites"
It happens often that 2 people are chatting in a channel, and one says, "let's zoom,"  both click the zoom link, and 2 meetings are started/opened.

It would be great if the plugin looked at the last few messages in the channel, and avoided starting a duplicate message. It could respond with an ephemeral message, "Another Zoom meeting <link> was just started X minutes ago in this channel, are you

[2019-12-17 15:17] DHaussermann opened #56 "Improve UX for linking Zoom Account"
Currently when new users launch a Zoom meeting for the 1st time they see a Zoom error with a link they must click.

![ZoomUserMapping](https://user-images.githubusercontent.com/35588783/71008114-18c63100-20b6-11ea-9d06-a0904eb9cca6.png)

As this is a path all users will hit, we should improve the UX to not make it look like an Error has occurred. Possibly a slightly different message with a button

[2019-12-18 03:32] mickmister opened #59 "[MM-19945] Add aria-label to Start Meeting button"
#### Summary

To improve accessibility, an `aria-label` should be applied to the Start Zoom Meeting button in the app's header. An acceptable label would be `Camera Icon`.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-19945

#### Screenshots

![image](https://user-images.githubusercontent.com/6913320/71053530-ab012000-211c-11ea-88a4-cf8dbb7eda61.png)

---
If you're interested pleas

[2019-12-18 23:43] larkox commented on #54
May I take this one?

[2019-12-19 13:47] levb commented on #54
@larkox Thank you!

[2019-12-26 14:33] bolariin commented on #26
I think #51 might have resolved this issue

[2019-12-26 17:46] jasonblais commented on #26
Pinging @mickmister and @crspeller to confirm after the holidays

[2019-12-30 16:42] crspeller commented on #26
Confirmed. Fixed by #51

[2019-12-30 16:42] #26 closed

[2020-01-07 13:02] levb commented on #56
We should return a regular response (*model.Response) from the command, not an error (*model.AppError) one in the case.

[2020-01-20 16:07] zell-mbc opened #64 "Documentation or my plugin out of date?"
I am stuck at the stage where I am suppossed to copy the Client ID/Secret because my plugin does not show the OAuth section?
There is no enable OAuth toggle and no fields to enter the information below:
- Paste the Client ID and Client Secret into the fields in the System Console, and hit Save.
- Generate an Encryption Key to save the encryped tokens.

I am running Mattermost Team Edition Version:

[2020-01-20 16:53] #48 closed

[2020-01-20 21:13] levb commented on #64
@zell-mbc the updated plugin is (or will be available shortly) via the Plugin Marketplace, use the menu in the top left corner to access it.

[2020-01-20 21:13] #64 closed

[2020-01-21 07:54] zell-mbc commented on #64
Looks like I am running v 1.1.2 which is the same as on the marketplace. I will check again in the next couple of days.

Thanks for getting back!

[2020-01-25 11:32] #54 closed

[2020-01-28 15:19] DHaussermann opened #68 "Add Screen reader support for cases where the Zoom post shows a meeting has already been created"
A change was made to add Aria label to the Start Zoom Meeting button here https://github.com/mattermost/mattermost-plugin-zoom/pull/61

We should also support case where the zoom post is different to inform users that a meeting was created recently. Currently the info about another user having created a meeting is not read out to the user and the "Create New Meeting" button is skipped over.

![Zoo

[2020-01-28 15:29] #59 closed

[2020-02-05 22:15] larkox commented on #56
May I take this one?

[2020-02-06 06:44] hanzei commented on #56
You are a breast, thanks @larkox :tada:

[2020-02-09 13:12] larkox commented on #56
I just realised that due to recent changes on zoom to rollback the oauth, this is no longer in place. Should I make the changes on certain branch, should I wait for those changes to be reintegrated in the plugin, or should we close this issue?

[2020-02-12 00:04] levb commented on #56
cc @jfrerich ^^ did we lose it?

[2020-02-12 00:20] jfrerich commented on #56
@levb, yes, that was part of the oauth commit that was reverted.

Here is the text defined
https://github.com/mattermost/mattermost-plugin-zoom/blob/fb0d6e8fa6cae69ae1cd47b0277eb2c19589b0eb/server/plugin.go#L36

Here is where the text was getting used in the commit.
https://github.com/mattermost/mattermost-plugin-zoom/commit/dbf5eb9880d049f790a658f7fe6559427671a7cc#diff-7e42e9629fece6c3b56011e7de7

[2020-02-14 15:56] azkore opened #71 "Invalid meeting ID. (-1)"
Mattermost server version: 5.19.1, team edition, installed in kubernetes via helm chart (https://github.com/mattermost/mattermost-helm/tree/master/charts/mattermost-team-edition)

Zoom plugin version: 1.3.0

Each time when I try to start a meeting Zoom Bot creates a link with the description "Zoom Meeting
Personal Meeting ID (PMI) : 0", which is opened at 'https://zoom.us/j/0' and Zoom shows the e

[2020-02-14 16:32] azkore commented on #71
I solved it by switch the checkbox 'Use this ID for instant meetings' to on in the Zoom account settings (it was off by default). Probably it would be good to add a note about it in the plugin description.

Otherwise this issue could be closed.

[2020-02-14 16:32] #71 closed

[2020-02-19 10:48] theopen-institute opened #72 "Webhooks not updating meeting info box"
Plugin version: 1.3
Mattermost version: 5.20.1

Related to:
https://github.com/mattermost/mattermost-plugin-zoom/issues/37

At present, the plugin does not seem to update meeting info boxes in response to webhook calls by Zoom. I can confirm that the webhook calls are being made by Zoom because the request is being received reliably by a webhook testing URL. I can also confirm that the webhook add

[2020-03-03 12:53] levb commented on #72
Same as https://mattermost.atlassian.net/browse/MM-20656?

[2020-03-04 18:24] mickmister opened #74 "Fix OAuth authentication issues on desktop app"
#### Summary

The OAuth integration for this plugin was reverted due to some issues with authenticating inside of the desktop app. The task here is to revisit the issue and solve so we can support OAuth.

[2020-03-07 03:20] DHaussermann opened #76 "Meeting creation collision post does not show the username"
A feature was added such that Zoom will show the username of the user who created the meeting. `sysadmin has started a meeting`
This feature does not work with the collision detection feature. When Zoom shows the other type of post warning a user that a meeting has already been started in the channel, the name shows as `undefined`
![ZoomCollisionUser](https://user-images.githubusercontent.com/3558

[2020-03-07 08:37] larkox commented on #76
This PR waiting for review already solves this: https://github.com/mattermost/mattermost-plugin-zoom/pull/73/files

[2020-03-07 12:31] hanzei commented on #72
@jfrerich assigning you to this one as you are assigned to the JIRA

[2020-03-07 12:33] hanzei opened #77 "Release v1.3.1"
https://github.com/mattermost/mattermost-plugin-zoom/pull/73 alone justifies cutting a patch release.

@levb @larkox Anything else that you want go include in the release?

[2020-03-07 12:34] hanzei commented on #56
@larkox Are you continuing to work on this or would we make this available for the public?

[2020-03-07 12:35] hanzei commented on #24
This seams to be done

[2020-03-07 12:35] #24 closed

[2020-03-11 22:11] vpecinka opened #79 "Feature request: limit posting bot message to private channels only"
It would be nice if we could limit creating invitation messages within private channels (or direct messages) only.

With many BFU posting invitations in public channels these become messy...

Thanks!

[2020-03-15 21:12] levb commented on #79
@vpecinka Out of curiosity, would it be helpful to have a `/zoom protect [~channel]` (name TBD) to disable the posts on a per-channel basis? In addition to what I am assuming is an ask for a plugin-wide config setting **[X] Disable plugin posts in public channels**.

[2020-03-15 22:31] vpecinka commented on #79
Yes, it would be great!

[2020-03-16 06:35] hyoputer opened #81 "Feature request: change meeting ID when users call meeting"
It would be nice if users could change meeting ID or apply password when they call meeting.

Links of my meetings are always same even in different teams so people who have past meeting links could come to my meeting.

thanks!

[2020-03-16 11:21] larkox commented on #56
This PR covers this along with recovering the OAuth. Here is the link:
https://github.com/mattermost/mattermost-plugin-zoom/pull/78

[2020-03-21 21:14] DHaussermann commented on #76
Closing this issue.

Tested and confirmed https://github.com/mattermost/mattermost-plugin-zoom/pull/73 resolves this case.
Thanks @larkox 🎉

[2020-03-21 21:16] DHaussermann commented on #76
@hanzei  I'm not sure I access to close out issues but this can be closed.

[2020-03-22 09:16] Jacq opened #82 "Schedule meetings"
Is it possible or in the roadmap to schedule meetings using the registered zoom account?
Cheers

[2020-03-22 11:32] hanzei commented on #82
@aaronrothschild :point_up:

[2020-03-22 11:34] #76 closed

[2020-03-23 08:34] ThiefMaster commented on #81
Creating a new meeting instead of using the personal meeting id would indeed make sense.

[2020-03-23 08:49] hyoputer commented on #81
@ThiefMaster If I use
![capture](https://user-images.githubusercontent.com/19164087/77298657-95f4e800-6d2e-11ea-834f-955b19a1b02a.PNG)

"this" icon the new meeting always use my personal ID.
Do you have any alternatives?

[2020-03-23 09:50] ThiefMaster commented on #81
Not sure what you are trying to tell me. I know that it uses the personal ID and my comment was suggesting that the plugin should indeed have an option to create new meetings instead of doing that.

[2020-03-23 10:00] hyoputer commented on #81
Oh, sorry. I've been misunderstood

[2020-03-23 13:56] rterzi opened #83 "CSRF Header check failed for request"
Mattermost Version: 5.21.0
Database Schema Version: 5.21.0
Zoom Plugin Version: 1.3.0

When setup the plugin, users can't start new meeting, with error:
[code]

Then I've opened debug logging. Result:
[code]

[2020-03-24 13:12] levb commented on #82
Excellent feature proposal, we need to spec out the UX and the turn it into a Help Wanted

[2020-03-24 13:14] aaronrothschild commented on #82
@Jacq The ability to create a scheduled meeting is not in the roadmap for the zoom plugin yet.  We have a project (Slash Command Auto complete) that will be adding a date picker component which is needed for us to schedule meetings.  Once we have that functionality, we can consider allowing users to schedule a zoom meeting from MM.

[2020-03-24 21:33] codemakeshare commented on #81
Great suggestion, I would also appreciate this. Just tried out the plugin, and had the same thought.

A related suggestion: if this feature would be implemented (to create a new meeting every time, instead of using the personal meeting ID), then it would maybe also be nice to have an option to always use the admin account, instead of each individual user's account. This would avoid having to add a

[2020-03-24 21:35] ThiefMaster commented on #81
:+1: on being able to link an admin account to create the meetings.

Would it still be possible to grant the user starting the meeting host permissions in that case? Not sure if zoom allows multiple people with such permissions for a meeting...

[2020-03-24 22:07] codemakeshare commented on #81
That's a good question, I'm not super familiar with zoom yet. I guess the problem is, if the bot initiates the new meeting under the admin ID, but the admin doesn't physically attend the meeting, there is no host at all, as even the user who set the meeting is just a "guest".
I just tried a few things through the browser interface, e.g. creating a new meeting with my admin ID, leaving the meeting,

[2020-03-24 22:36] codemakeshare commented on #81
Just did some more digging, and found a possible strategy:
"Join before host" setting: if this is active in the account settings, it is possible to schedule meetings where participants can log on before the host is online. I think this is the most promising way: use the API to schedule a meeting using the admin's credentials, with setting "join before host" = true. Users can have the meeting witho

[2020-03-25 10:15] ThiefMaster opened #85 ""undefined already created a zoom call recently""
For some reason the name of the user who created a zoom call recently shows up as undefined.

[2020-03-25 10:25] svelle commented on #85
Hi @ThiefMaster what Zoom Plugin version are you seeing this on?

[2020-03-25 10:27] larkox commented on #85
Hi @ThiefMaster , this should be solved on this PR: https://github.com/mattermost/mattermost-plugin-zoom/pull/73

I do not have at the moment a date for the next fix version with this change, but I hope it is soon.

[2020-03-25 10:39] ThiefMaster commented on #72
I think this happens because Zoom sends a JSON payload, but the plugin tries to parse formdata.

[2020-03-25 10:40] ThiefMaster commented on #77
https://github.com/mattermost/mattermost-plugin-zoom/issues/72#issuecomment-603767833 looks like a good candidate for a patch release as well!

[2020-03-25 10:43] hanzei commented on #85
Duplicates  https://github.com/mattermost/mattermost-plugin-zoom/issues/76

[2020-03-25 10:43] #85 closed

[2020-03-25 11:15] rochaporto commented on #81
In addition to passing a specific meeting ID it could be nice to have 'channel' meetings as well - creating if it doesn't exist. Something like:
[code]

Not sure how easy it would be to create the rooms if they don't exist and handle the meeting room config.

[2020-03-25 11:30] larkox commented on #83
@rterzi Thank you for bringing this issue.

I am checking where the problem might be, and I would like to ask you to double check the apiKey being the correct one. Make sure to check any possible space at the end, or similar details.

Thanks!

[2020-03-25 11:52] rterzi commented on #83
@larkox you're welcome. I checked it again two times, no change.

[2020-03-25 12:01] larkox commented on #83
Would you mind contacting me on [Mattermost Community](https://community.mattermost.com/)? I would like to ask you a few more details about your problem. My username there is `@daniel.espino.garca`.

[2020-03-25 12:52] levb commented on #77
I 👍 that we cut a 1.3.1 and do not wait for 1.4/Oauth; cc @jfrerich @larkox

[2020-03-25 13:21] larkox opened #86 "Client not updated on configuration change"
After a configuration change, the apiKey and apiSecret may change. Nevertheless, this information is only used during the activation of a plugin to create the client, so after a configuration change the client is outdated, and may return "Invalid Token" errors.

[2020-03-25 13:24] larkox commented on #83
Problem is not about the CSRF, but the plugin not updating the information after a configuration change. This was resolved by disabling and enabling again the plugin, but a better solution would include code changes. A [new issue](https://github.com/mattermost/mattermost-plugin-zoom/issues/86) has been created to solve this problem.

[2020-03-25 13:24] #83 closed

[2020-03-25 14:35] hanzei commented on #86
@larkox Do you want to work on this yourself or should it be a HW?

[2020-03-25 14:42] larkox commented on #86
I can take it myself. I believe it should be solved soon.

[2020-03-25 16:14] jfrerich commented on #77
I'm fine wine cutting 1.3.1, but don't have the mana available to take on #72 right now.  `v1.4.0` (Oauth) will be out shortly and have added the `v1.4.0` to #72

[2020-03-26 16:03] xsgb opened #91 ""Start Zoom Meeting" button does not work, but /zoom start does"
Hello!

The procedure you wrote for setting up matttermost-plugin-zoom worked without any problem. We added some users in Zoom SaaS manager and now those users are able to type `/zoom start` to create Personal Meeting Identifier from the bot.

All this worked correctly.

However, clicking the "Start Zoom Meeting" button on left of the search bar, we get:

Any Idea what would such error message ? T

[2020-03-26 17:06] larkox commented on #91
Can you confirm which version of the plugin are you using?

[2020-03-27 08:58] xsgb commented on #91
It is `v1.3.0` installed from Mattermost's system console plugins marketplace.

[2020-03-27 09:10] larkox commented on #91
Could you check the network panel on the browser?
There should be a call to `plugins/zoom/api/v1/meetings`. I am specially interested on the status code and the response.

[2020-03-27 09:37] xsgb commented on #91
Yes! query part:

[code]

Response:

[code]
Due to specific reverse proxy settings, we're redirecting everything that is not https://fourjsmatter.xyz.com/fourjsmatter to https://xyz.com

It seems thee plugin calls `https://fourjsmatter.xyz.com/plugins` instead of `https://fourjsmatter.xyz.com/fourjsmatter/plugins`

You you think this can be fixed in the plugin code ?
Thanks a lot for the time you'

[2020-03-27 09:43] larkox commented on #91
Yes, that should be something handled by the plugin. Just to confirm, the Site URL is correctly set to `https://fourjsmatter.xyz.com/fourjsmatter`, right? Not to `https://fourjsmatter.xyz.com/`.

[2020-03-27 09:45] xsgb commented on #91
yes, the global site URL for this mattermost instance is set to `https://fourjsmatter.xyz.com/fourjsmatter`

[2020-03-27 09:54] larkox commented on #91
I will try to have a fix included in the code by the end of the day. I will inform you whenever I know when this fix will be available in the marketplace.

[2020-03-27 09:59] xsgb commented on #91
Ok! thanks a lot.

[2020-03-27 10:37] larkox opened #92 "When no SiteURL is set in config, the basePath is not properly set"
If no SiteURL is set in config, the basePath is set to `/`, and then is appended `/plugins...`, resulting in `//plugins/`.

basePath should be changed to the empty string, so it uses a relative URL.

[2020-03-27 10:38] larkox commented on #92
Wrong repo. Was supposed to be on Todo.

[2020-03-27 10:38] #92 closed

[2020-03-27 12:42] levb commented on #77
Sounds like we may do a 1.3.2 for #72, perhaps? 2/5 Releasing incremental patches needs to become a very low overhead process.

[2020-03-30 08:03] ThiefMaster commented on #81
I think with zoombombing being more and more a problem it's becoming even more important to allow creating separate meetings (ideally with a random password included in the link).

[2020-03-31 07:06] mickmister commented on #83
The error from the issue description generated by the Mattermost server `CSRF Check failed for request - Please migrate your plugin to either send a CSRF Header or Form Field, XMLHttpRequest is deprecated`. This should not be occurring since this PR was merged https://github.com/mattermost/mattermost-plugin-zoom/pull/51 .

@rterzi Can you tell me some things about your evironment? Particularly:

-

[2020-03-31 07:14] mickmister commented on #83
@larkox I think there are two different issues here. The two errors in the issue description should be mutually exclusive.

- The first error implies we got to the plugin's API endpoint and something failed on Zoom's side.
- The second error implies that there was an issue with Mattermost's own CSRF token, and so it did not let the request get to the Zoom plugin. This second issue should not occur

[2020-03-31 07:33] rterzi commented on #83
[code]

[2020-03-31 08:58] #86 closed

[2020-04-01 06:06] hanzei opened #94 "Add Icon for Marketplace"
https://community.mattermost.com/core/pl/488fkk9y37f8zbtxir6x4iujre

[2020-04-01 12:38] sphr opened #96 "Plugin uses incorrect path when mattermost siteurl has a subdir"
The mattermost zoom plugin does not account for mattermost being able to run in a subdir.
This seems to be related to a bug I reported for mattermost server and they recommended a fix should be made for each plugin: https://github.com/mattermost/mattermost-server/issues/14106

A fix was applied for another plugin here:
https://github.com/standup-raven/standup-raven/issues/130

[2020-04-01 13:38] hanzei commented on #96
@larkox I suppose this will be fixed with https://github.com/mattermost/mattermost-plugin-zoom/pull/93. Can you confirm?

[2020-04-01 14:05] larkox commented on #96
Yes, that PR should fix the issue.

[2020-04-01 19:40] mickmister commented on #83
@crspeller Any thoughts on why we might be getting the CSRF token error without having `ExperimentalStrictCSRFEnforcement` enabled?

[2020-04-02 00:20] robormondsimpro opened #97 "Zoom settings webhook secret"
Hi,
I'm trying to set up the zoom plugin for the first time and I don't see anything in the docs about what I'm meant to do with the webhook secret in the plugin settings?

[2020-04-02 14:32] crspeller commented on #83
@mickmister The setting doesn't turn off the check it just turned off the enforcement of the check. The request will still work but it shows an error message so you can find what is in violation before turning it on.

[2020-04-02 16:59] mickmister commented on #83
@crspeller Good to know, though it's still puzzling why the error is showing up if we have the CSRF token being sent properly from the plugin's webapp. It's been set up to send the token with `Client4.getOptions` for quite some time, and is certainly in the release @rterzi is using. Looking at the error message, it is definitely coming from the Zoom plugin too.

[2020-04-03 17:49] aaronrothschild opened #98 "Meeting Password: Display when starting a new meeting"
If someone's settings specify that a Zoom meeting should use a password, currently the Plugin will not display the password after clicking "start Zoom meeting".

Ideally, if the user's account is set to have passwords enabled for each meeting - we should display the password when the meeting is created.

Optionally, we should consider a slash command parameter for starting meetings with a password

[2020-04-06 13:26] iandriyanov opened #99 "Meeting and required password"
https://support.zoom.us/hc/en-us/articles/360041408732-April-2020-Setting-updates-for-free-accounts-and-single-Pro-users

After this feature, plugin create room meeting without required password.

It was:
https://zoom.us/j/#SOMEIDSESSION
It became:
https://zoom.us/j/#SOMEIDSESSION?pwd=RU5OR1NuTWhzUGErWmx2ZzFiTEV3Zz09
(pwd=1q2w3e4r with encryption)

[2020-04-16 04:17] #91 closed

[2020-04-16 04:17] #96 closed

[2020-04-16 08:05] cadavre opened #102 "Use header Zoom icon instead of generic "camera" icon"
Hi, some of use are using more that one audio-video communicator. It is hard to distinguish them by looking at the icon of generic camera.

My suggestion is to create Mattermost-style icon for Zoom and use it instead.

<img width="52" alt="Zrzut ekranu 2020-04-16 o 10 04 10" src="https://user-images.githubusercontent.com/461796/79430738-afa1ec00-7fc9-11ea-81a8-8f5afdee6fb8.png">

[2020-04-20 09:35] terafirmanz commented on #97
Zoom process for Apps has been updated so I think the docs need updating. I also ran into this but it works without putting this setting anywhere.

[2020-04-21 13:06] levb commented on #102
we also needs one for WebEx

[2020-04-21 13:41] asaadmahmood commented on #102
Does make sense.
Here's an svg.
I did not provide a solid svg of the shape, because I wasn't sure if using the inner shape would be okay with zoom. So we can just use the profile image we have.
I may have to add UI adjustments on the webapp so images are displayed correctly, so that should go in before this update.

[zoom.svg.zip](https://github.com/mattermost/mattermost-plugin-zoom/files/4510323/

[2020-04-21 13:46] cadavre commented on #102
@asaadmahmood looks good! I haven't found any public Zoom visual identity usage guide, but I think that full version of yours will be actually better than outlined version.

[2020-04-22 05:54] #94 closed

[2020-04-22 16:28] #77 closed

[2020-04-23 08:37] hanzei opened #105 "Integrate GolangCI-Lint"
Mattermost is currently in the process of using [`golangci-lint`](https://github.com/golangci/golangci-lint/) as the default linter for all go projects. https://github.com/mattermost/mattermost-plugin-autolink/pull/108 serves as an example of how the migration should look like:
1. Copy `.golangci.yml` from https://github.com/mattermost/mattermost-plugin-autolink/ into this repository.
2. Copy `Mak

[2020-04-25 00:13] terafirmanz commented on #98
Now required more than ever as Zoom move this setting to recommend and set this by default after the recent security reports.

[2020-04-27 00:43] terafirmanz opened #106 "Not using Personal Meeting ID"
In the settings there should be an option to not use peoples personal meeting ID. When using PMI it makes every meeting post the same enabling people to join meetings across channels.

The plugin should schedule a meeting using a unique ID and post it along with the password ( #98 ) if it has one.

[2020-04-27 15:23] larkox commented on #91
@xsgb If I am not mistaken, the updated version that corrects this should be already on the marketplace. Feel free to check it and let me know if you find any other issue.

[2020-05-05 13:09] levb commented on #106
maybe add an option to the /zoom command to pass down a room name?

[2020-05-06 21:01] terafirmanz commented on #98
Latest update from Zoom is this will be mandatory as of 9th May for Basic and 30th May for paid accounts meaning this plugin will become non functional as of these dates.

[2020-05-06 21:20] aaronrothschild commented on #98
Yup, was just reviewing this in the Zoom PLugin channel, thanks for the heads up!  cc @larkox @levb

[2020-05-07 11:40] drKreso commented on #71
<img width="852" alt="Screenshot 2020-05-07 at 13 39 42" src="https://user-images.githubusercontent.com/32063/81290360-39445700-9068-11ea-93de-06eba36d3050.png">

Just to clarify this is on https://zoom.us/profile

[2020-05-08 12:13] aaronrothschild opened #107 "Zoom OAuth: Accept webhook events in new Format so meeting state is updated"
We should support the new event payloads that get generated by the Zoom Oauth app. Currently, we support Legacy formatted webhooks, which required two apps to be setup - but this has recently stopped working.

[2020-05-08 12:14] aaronrothschild opened #108 "Zoom JWT/Legacy: Accept webhook events in new Format so meeting state is updated"
We should support the new event payloads that get generated by the Zoom JWT app. Currently, we support Legacy formatted webhooks, which required two apps to be setup - but this has recently stopped working.

[2020-05-08 12:29] aaronrothschild opened #109 "Zoom: Alert the channel when a particpant has joined a meeting before host"
There is a webhook event notification available for this scenario in Zoom's API.

Users would like to know if there are others who have joined the meeting in the channel.  We should post a message to the channel about the state like "Someone joined the Zoom meeting before the host had a chance to join...."

![2020-05-08_05-25-28](https://user-images.githubusercontent.com/915956/81405605-d943c400-9

[2020-05-08 12:32] aaronrothschild opened #110 "Zoom: Alert channel when a recording is complete"
Users are annoyed by how long it takes to get a recording finished in Zoom.  It would be great if the whole group got notified of the recording being completed in the same channel the meeting started from.  Additionally, the notification should include a link to the recording.  We will assume that users are part of the same organization and will need to logiin to zoom to see the actual recording a

[2020-05-08 22:22] #99 closed

[2020-05-11 11:31] larkox commented on #108
JWT webhooks work the same way as OAuth webhooks. Therefore, the implementation for #107 should work for this issue too.

[2020-05-14 08:04] larkox commented on #46
@levb Maybe it is not the best approach, but what about using the settings panel for this? `/zoom teamSettings` might show a settings panel to configure all this for the current team. As soon as I finish the FreeText for settings, it is easily done.

[2020-05-14 11:34] larkox commented on #79
@aaronrothschild Just a cherry on top, you could check the status of the enable/disable with a settings panel, and change it on the fly. Something like `/zoom channelSettings` would open the settings panel for the channel you are in.

[2020-05-14 11:37] larkox commented on #81
@aaronrothschild another cherry on top, users could decide what to do by default (personal ID or new meeting) on a user settings panel. `/zoom settings` would open the user settings panel, which will allow him to change this and maybe other future settings (DnD while on a meeting?).

[2020-05-14 11:47] larkox commented on #82
@aaronrothschild
Maybe not the best usecase, but maybe a flow could work here. Something like:
User: /zoom schedule
Bot: Select Topic
User: My new meeting
Bot: Select Date (dd/mm/aaaa)
User: May 3rd
Bot: Cannot recognize format. Please write in dd/mm/aaaa format.
User: 03/05/2020
Bot: Select time (02:30PM)
User: 08:30AM
Bot: We have scheduled the meeting "My new meeting" for 03/05/2020 at 08:30AM.

[2020-05-14 17:25] Jacq commented on #82
A good starting point could be the reminder plugin that follows a similar workflow but also includes a dialog and the possibility to cancel previous reminds:
https://github.com/scottleedavis/mattermost-plugin-remind

[2020-05-18 14:09] aaronrothschild commented on #79
The settings panel makes sense, and we should consider adding "Zoom settings" to the Channel Menu Bar as an option. But is it obvious enough there?

[2020-05-18 14:15] aaronrothschild commented on #81
@larkox iagreed, t would be awesome as others have suggested if we could:
- Have a meeting room aligned with a meeting name (ie: "Project A") with a random password each time it is spun up.
- Set that meeting name in the channel settings for "zoom" so it's consistently named whenever I start the meeting

[2020-05-19 06:01] alexhert opened #113 "Release v1.4.0"
hello,
just wanted to know if there is a date for a new release (1.3.2??) which contains the password fix GH-99.

[2020-05-19 09:29] larkox commented on #81
@aaronrothschild The "free text input" for settings and flows is already working (even if it needs still to get a bit more mature), so adding a "Default meeting name" associated to user or to channel would be no problem at all.

[2020-05-19 09:32] larkox commented on #79
I remember a discussion not long ago about how some option that was on the channel menu bar was never found by users naturally. I wonder how much that can be solved by documentation, or we are dealing with a bigger UX problem.

Another solution (which may be quite bad) is to have a "settings button" on the same place as other plugin actions (next to the searchbar). The problem will be when 3 or 4

[2020-05-19 10:08] larkox commented on #109
@aaronrothschild Shall we make this HW?

[2020-05-20 16:14] agarciamontoro opened #114 "Avoid starting meetings in crowded channels when not intended"
Today, I misclicked in the header's Zoom plugin button and the plugin posted a link to my personal meeting room in a channel with more than 5000 members.

My feature request is to add a confirmation dialog that prevents users to start meetings by mistake. But @levb also suggested that we could also add a blacklist with channels where starting a Zoom meeting is not allowed.

[2020-05-20 16:49] levb commented on #114
Suggest 2 things:
1) we can add a plugin-level (config) or user-level (/command?) way to disable the button in specific channels
2) I also ❤️ the idea of popping a dialog if the number of channel members is >X, where X can be configurable.

[2020-05-20 17:04] aaronrothschild commented on #114
We made it 1 click because people don't like having to confirm something for every meeting. This is a good compromise IMO.

I like this as well, similar to how we warn users now when using `@` mentions in a large channel.

[2020-05-20 17:33] larkox commented on #114
It is not a real solution, but I have made a PR that will post the meetings as the user, so you can delete a meeting if you misclick.

[2020-05-21 08:05] agarciamontoro commented on #114
I think it is actually a good solution, @larkox!

[2020-05-21 14:05] #56 closed

[2020-05-22 06:41] checkaayush commented on #105
@hanzei I'd like to take this up.

[2020-05-22 07:56] #102 closed

[2020-05-22 08:00] larkox commented on #74
OAuth PR merged again, and with the changes on the Desktop App this should be solved.

[2020-05-22 08:00] #74 closed

[2020-05-22 19:22] hanzei commented on #105
Also thanks for taking a shot at this issue @checkaayush

[2020-05-22 21:14] #72 closed

[2020-05-22 21:14] #107 closed

[2020-05-22 21:14] #108 closed

[2020-05-22 22:43] checkaayush commented on #105
PR: https://github.com/mattermost/mattermost-plugin-zoom/pull/115

[2020-05-26 21:37] jfrerich opened #117 "Add codecov.io webhook to github repo"
The badge will be added in this PR.

To do this, an admin to this repo needs to visit https://codecov.io/gh/jfrerich/mattermost-plugin-zoom/settings and click
![image](https://user-images.githubusercontent.com/7575921/83761755-57d44880-a63c-11ea-9fb8-b044899e964d.png)

[2020-05-27 08:10] hanzei commented on #117
Same questions as in https://github.com/mattermost/mattermost-plugin-antivirus/issues/19#issuecomment-634498041

[2020-05-27 09:21] hanzei commented on #114
Discussed offline: Deleting the post is a fine solution for can accidentally created meeting.

[2020-05-27 09:21] #114 closed

[2020-05-28 08:27] iomodo opened #119 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-05-29 09:46] s1lviu commented on #98
Any updates on this?

[2020-05-29 09:58] larkox commented on #98
We are planning a release soon that will include this. We still not have a date for this, but we will try to have it ready as soon as possible.

[2020-06-02 13:51] kelderek commented on #113
Any updates on the 1.4.0 timeframe?  There aren't any other issues tagged for the 1.4.0 milestone and this would be a big quality of life update for us.

[2020-06-04 14:02] DHaussermann opened #121 "Add info to Zoom oAuth UI"
We should add info to the Zoom configuration screen for Oauth

1. Add `Beta` label beside oAuth config enable option
2. There is currently a label that reads `Please enable only either one of OAuth based or Password base authentication.`
This should be updated to also explain about the mapping. Please change it to `Please enable only either OAuth based or Password base authentication. If you are c

[2020-06-04 14:04] DHaussermann commented on #121
@aaronrothschild can you approve (or change) the label text for 2. This may sound a bit clunky but I wanted to keep it short since it's text in the admin UI.

[2020-06-05 13:33] aaronrothschild commented on #121
Some changes:
 `Only Enable OAuth OR Password based authentication. Not both. If you are currently using a JWT Zoom application and switch to OAuth, all users will need to connect their Zoom account using OAuth the next time they try to start a meeting.`

[2020-06-08 22:20] terafirmanz commented on #121
Should some text also be added to explain why one might pick either option? Feels like a decision is left to the server admin with no context as to why they need to make a choice or the implications of it.

[2020-06-08 22:33] terafirmanz commented on #121
I see there is a gitbook doc now but neither the readme nor the plugin admin screens mentions this. Maybe a simple link will help people to both decide and setup the plugin.

[2020-06-09 11:21] #105 closed

[2020-06-09 11:38] larkox commented on #121
Thanks for the idea @terafirmanz . A update to the README will be coming soon, that will directly link to the gitbook.

Do you think a "more information" link to the gitbook next tot he decision would be enough? What do you think, @aaronrothschild ?

[2020-06-09 20:06] aaronrothschild commented on #121
I think that should be fine, most people don't necessarily care about why.

[2020-06-09 20:09] terafirmanz commented on #121
Yes that works fine. The docs give detail as to what each choice means for the user.

[2020-06-11 16:16] #121 closed

[2020-06-12 16:04] DHaussermann opened #127 "Disconnect slash command should not be available when JWT is being used"
We have added a slash command for oAuth `/zoom disconnect`. This functions as desired when using oAuth but, the command is not applicable when password based authentication is enabled.

Users will still see it in the help and get an error if they attempt to use it. I don't know why they would try since there is no connect/disconnect mechanism at a user level for JWT but it can be attempted.

![Scr

[2020-06-12 16:36] DHaussermann opened #128 "Add support for meeting ended webhook events with oAuth Zoom apps"
When using an oAuth Zoom application, the post will not be updated to reflect that the meeting has ended.
Additionally there is not setup info for this documented in the oAuth section which leads me to believe this may not yet be implemented.

![ZoomOauthWebhook](https://user-images.githubusercontent.com/35588783/84525379-8b048080-aca9-11ea-87aa-b7479b2b3691.PNG)

Steps:
1. Create an oAuth Zoom ap

[2020-06-12 16:39] DHaussermann commented on #128
@larkox I'm not sure if this is a bug that requires more investigation to see an error or if this was never implemented.

[2020-06-12 17:14] DHaussermann opened #129 "Unable to connect a user to oAth"
If a user tried to launch a meeting with Zoom oAuth from mobile has never connected before, they are not able to connect from mobile. They are directed to a browser window that says `Authorization Denied` thee URL they are sent to is something like `https://dkh-sandbox.test.mattermost.cloud/plugins/zoom/oauth2/connect?channelID=6xmrefegwidftr81764snk5d1e`
![ZoomAuth](https://user-images.githubuser

[2020-06-12 18:23] larkox commented on #128
The documentation is not in the OAuth section because it is (or should be) in its own section (it is the same for JWT and OAuth).

Not sure why it is failing. I need to double check. It should be working.

[2020-06-12 18:23] larkox commented on #127
Will fix.

[2020-06-12 18:24] larkox commented on #129
It is a known mobile limitation :frowning_face: If I am not mistaken, no plugin can do OAuth through mobile.

[2020-06-15 04:40] robormondsimpro opened #131 "OAuth not supported anymore?"
I'm trying to set up our zoom plugin to use oauth but I don't see the option in the zoom settings page as per screenshot.

I've made sure that mattermost is configured true for "Enable OAuth 2.0 Service Provider".  Not sure what else to check.

I am running version 1.3.1 of zoom plugin, with mattermost version 5.21

![Capture](https://user-images.githubusercontent.com/22141727/84618630-184c0d00-af

[2020-06-15 04:41] robormondsimpro commented on #131
Also noticed that when I try to browse to
https://[mm url]/plugins/zoom/oauth2/complete?code=mvd1qF6TwW_Fzt3YddyQeyCehyACotZHg
it returns a 404 error

[2020-06-15 07:04] larkox commented on #131
Sorry for the inconvenience. The documentations is slightly ahead of the latest version. We will release soon Zoom with OAuth (v1.4.0). I will keep you posted.

[2020-06-15 09:02] hanzei commented on #129
I'm under the same impression. @larkox

[2020-06-15 12:11] larkox commented on #128
Bug found. This only happens when creating the meeting via slash command. If you create the meeting via the UI button, the meeting updates without any problem. Will fix.

[2020-06-16 11:43] hanzei commented on #117
@levb Could you please enable the webhook?

[2020-06-18 17:42] #127 closed

[2020-06-23 07:39] larkox opened #136 "Refactor zoom OAuth to use the client model"
JWT uses a client model implemented on `server/zoom/`. On the other hand, the same functions for OAuth are scattered through `server/plugin.go`. This PR has the following objectives:
- Create a new client to handle OAuth requests
- Move and refactor the client related functions from plugin.go to `server/zoom/`.
- Refactor the general code to use the client functions.

If there is any question abou

[2020-06-23 11:56] larkox commented on #43
@cadavre Do you think this issue can be closed? You can take a look to the new documentation here:
https://app.gitbook.com/@mattermost/s/plugin-zoom/

[2020-06-23 14:06] DHaussermann opened #137 "If user's email is not valid for JWT Zoom, launching Zoom from the icon will show oAuth link"
If a user has an invalid email to use the JWT app, trying to launch via the plugin icon will show oAuth connection link.
Using Zoom start works normally and shows the invalid email message

Steps:
- Install Zoom pluigin and configure both authentication methods
- Set JWT to True and oAuth to False
- Login as a user with invalid email to use JWT app
- Type `/zoom start`
- Note the expected message

[2020-06-23 14:16] larkox commented on #137
Will fix

[2020-06-23 15:39] larkox commented on #137
@DHaussermann Heads up that there is already a PR to fix this.

[2020-06-25 09:19] #137 closed

[2020-06-28 20:15] DHaussermann opened #140 "Posts do not update when meeting ends for oAuth and slash command launch"
When oAuth is enabled and I use `/zoom start` to launch a meeting, when the meeting ends the post does not get updated.

This issue will only occur when using oAuth and the slash command.

Reproduces on version bump branch https://github.com/mattermost/mattermost-plugin-zoom/pull/123/commits/118f1bd126ca9ed718be4dab564dc5b13a9059d5

Steps:
- Install Zoom and configure oAuth
- Launch a zoom meeting

[2020-06-28 20:21] DHaussermann commented on #140
@larkox I thought this was working in https://github.com/mattermost/mattermost-plugin-zoom/pull/134
Maybe I missed a bug in testing or a more recent change has caused an issue?

[2020-06-29 12:50] larkox commented on #140
@DHaussermann Yes, it should be working in #134. The problem is that #134 is still not merged :sweat_smile:

[2020-06-29 15:19] #128 closed

[2020-06-29 15:19] #140 closed

[2020-06-30 08:27] #113 closed

[2020-06-30 08:27] #131 closed

[2020-06-30 09:10] terafirmanz commented on #97
With 1.4 and the new docs this is now covered and can be closed can't it?

[2020-06-30 09:11] terafirmanz commented on #98
another closed now that we have 1.4 release?

[2020-06-30 16:50] DHaussermann opened #141 "On Fresh install The JWT authentication option does not appear as being set to True"
When upgrading to Zoom `v1.4` the app functions as though JWT is set for Authentication which is the correct behavior.
But the UI appears as though neither option is set to true.

![86150995-25e3c400-bacc-11ea-920c-e1e10c4ee8de](https://user-images.githubusercontent.com/35588783/86153710-11092f80-bad0-11ea-97bd-17ba4aa47907.png)

Steps:
- Spin up a new sever
- Install Zoom v1.3.1 from production m

[2020-07-01 12:21] #98 closed

[2020-07-01 21:20] DHaussermann opened #143 "Zoom Icon is sometimes missing from header in 5.23.2 and earlier"
In some cases the Zoom icon is missing from the header. This does not repro on any of my testing servers for zoom but, I see it if I spin up a fresh server.

I can't quite figure out what's happening here. Even in incognito mode my test server show the icon correctly. (Possibly something is cached on the server from a previous PR which hides the bug) . But here is an affected server https://dkh-zo

[2020-07-01 21:21] DHaussermann commented on #143
@larkox are you able to see if this is complicated to fix? I'm curious because for affected servers, this is a very visible bug.
cc @aaronrothschild

[2020-07-02 09:48] larkox commented on #143
May have to do with the version of the server. We are using a font that may not be in all server versions.

Not sure how to handle this if not by always using the SVG.
cc @asaadmahmood

[2020-07-02 13:37] DHaussermann commented on #143
Thanks @larkox  after some testing it seems you're correct. The bug repros on any version before `v5.24.0'

[2020-07-08 09:54] #143 closed

[2020-07-10 13:29] #141 closed

[2020-07-21 13:32] larkox commented on #109
What about showing it in the custom post directly? Something like:
[code]
or
[code]

[2020-07-25 05:10] utkuufuk commented on #119
I'll take this one.

[2020-07-25 05:34] utkuufuk commented on #136
I'll take this one.

[2020-07-28 09:00] larkox commented on #43
The changes on the documentation and latest versions should have fixed these issues. Due to this and the inactivity of the thread, I am closing it.
@cadavre if you are still seeing any issues, feel free to reopen the thread.

[2020-07-28 09:00] #43 closed

[2020-07-28 09:06] larkox commented on #97
Closed due to newest version of the plugin and the documentation.

[2020-07-28 09:06] #97 closed

[2020-07-28 09:09] larkox commented on #117
Since the coverage badge is working fine, I suppose this can be closed.

[2020-07-28 09:09] #117 closed

[2020-07-30 15:05] vmakarenko opened #152 "Cannot authorize OAuth zoom plugin: invalid state, 500 internal server error"
I'm trying to set up mattermost-plugin-zoom 1.4.1 (OAuth) according to manual
https://mattermost.gitbook.io/plugin-zoom/installation/zoom-configuration/zoom-setup-oauth

I stuck on activation stage, Install your app->Activate throws
browser:
[code]
`mattermost.log`:
[code]
Mattermost Version: 5.24.2
Database Schema Version: 5.24.0

[2020-07-30 18:14] larkox commented on #152
That is weird. There is a bug in the code that that particular path may lead to plugin termination. Nevertheless, the path it is taking should happen only if the OAuth flow finishes with an "empty state".

The state is sent into the flow, and the same values should return when the OAuth flow is finished. No idea how this might be happening on your side.

[2020-07-31 16:33] #119 closed

[2020-08-02 00:13] bolariin commented on #68
I would like to work on this. I was able to recreate the issue with the "Create new meeting" button getting skipped. When I used a screen reader, it read out that another meeting had been created recently on that channel.

I would like to know if this is still an issue

[2020-08-03 09:45] larkox commented on #68
@DHaussermann Can you take a look to this?

[2020-08-11 09:48] larkox commented on #79
As a first approach, we would like to implement this as follow:
- One setting in the system console for the default behaviour. Something like `Disable the meeting creation on public channels?`
  - This setting should have a help text to inform about the slash commands defined below.
- One slash command only accessible to sysadmins to allow or deny creating meetings on a certain public channel. For

[2020-08-11 09:57] larkox commented on #82
As a first approach we would like to:
- Add a slash command (`/zoom schedule`) that will open an interactive dialog
- In the interactive dialog you can set the Topic and Time.
- In the interactive dialog add a checkbox to "post the meeting in the channel"
- After the meeting is created, if the checkbox is set, post the meeting information (topic, time and link) in the channel.

Bonus: Add a remind

[2020-08-11 10:07] larkox opened #154 "Decide whether to use PMI or not on instant meetings"
After #147 is merged, you will be able to create meetings with new IDs.

We would like to add a user setting set by slash commands (`/zoom setting usePMI [true/false/ask]`) to allow the user decide whether to use its PMI on instant meetings.

If the setting is set to ask, when it is going to create a meeting, they will receive an ephemeral message where they can choose to use the PMI or the new ID

[2020-08-11 10:13] larkox commented on #109
As a first approach we would like:
- DM to the meeting creator if a participant has joined a meeting before the creator
- Update custom post according to my previous comment.

[2020-08-11 10:26] larkox commented on #152
@vmakarenko are you still seeing this? Are you seeing any other weird behaviour that may lead to this?

[2020-08-19 11:11] vmakarenko commented on #152
We will retry to setup the up to https://mattermost.gitbook.io/plugin-zoom/installation/zoom-configuration/zoom-setup-oauth, again - probably some settings were wrong... I let you know, thank you!

[2020-08-21 07:42] vmakarenko commented on #152
We tried again. Authorize plugin -> Error 500. `mattermost.log`:
[code]
Moreover, where is the ** Enable Password based authentication** feature located?  It is mentioned in https://mattermost.gitbook.io/plugin-zoom/installation/mattermost-setup and cannot be found in mattermost (5.24.2) and zoom-plugin (1.4.1) settings.

[2020-08-21 08:24] larkox commented on #152
Regarding the "Enable Password based authentication", it was removed on 1.4.1. The same effect is by setting "Enable OAuth" to false.

Regarding your problem, can you confirm when you are seeing this error? Are the steps the following?
1. Configure the plugin both on Zoom side and Mattermost side
2. In mattermost, write `/zoom start` or click on the zoom icon on the top right
3. Click on the link

[2020-08-25 20:02] mickmister opened #156 "Clicking start meeting button crashes on Daily"
This has only happened to me once. Sometimes it seems that nothing happens when the button is clicked.

Error is happening on line 6 below. `main.1c074abf2550c153bb77.js:489 TypeError: Cannot read property 'replace' of undefined`. It looks like code from `mattermost-webapp`

[code]

![image](https://user-images.githubusercontent.com/6913320/91221762-207db100-e6ec-11ea-84ed-ad8b723fa4d2.png)

[2020-08-28 10:46] balta3 opened #157 "After update from 1.3.1 to 1.4.1 zoom posts get not updated anymore"
Two days ago we upgraded mattermost and all plugins to the current version, in this case from 1.3.1 (I think) to 1.4.1. Before the update the zoom plugin was working without any problems, but after the update new posts about zoom meetings are not updated anymore if the meeting was closed. In the access log I see that the webhook returns a 400, but in the mattermost log there seems to be nothing lo

[2020-08-28 10:59] larkox commented on #157
Hi @balta3 , thank you for reaching us. How do you have configured the webhooks? Please, take a look at the documentation [here](https://mattermost.gitbook.io/plugin-zoom/) and make sure you have set up the webhooks correctly.

The problem might be indeed because of the drop of support on legacy webhooks (in theory, Zoom has also dropped the support for them).

If you feel everything is done corre

[2020-08-28 11:08] balta3 commented on #157
Thanks for the fast reply :+1:

I already looked at the documentation but the webhook documentation is only described for OAuth apps, for my old configured app the screen looks different from the documentation.
![Screenshot_2020-08-28 App Marketplace](https://user-images.githubusercontent.com/3757994/91554504-8e65ea80-e92f-11ea-8875-e399b05c8c39.png)

[2020-08-28 11:32] larkox commented on #157
I see. That is the webhook configured App. You probably have also a JWT or OAuth app configured. Am I right? On the configuration of those apps, you should see the feature menu, where you can add webhooks. Tell me if you don't or if you have any other kind of app installed.

[2020-08-28 12:21] balta3 commented on #157
I removed the webhook only app and added a webhook feature to the existing JWT app and the update is working again. Thanks for this :+1:

Perhaps you should add some notification to the releases notes about this, as anybody who configured this integration right after mattermost announcement of the Zoom integration will have an old setup like we have.

[2020-08-28 12:27] larkox commented on #157
@aaronrothschild :point_up:

[2020-08-28 13:57] aaronrothschild commented on #157
@justinegeffen Can we add an update to the docs basically stating:
- If you have previously installed Zoom before v1.4, you likely have a "Webhook" type of app in Zoom configured
- Once switched over to OAuth, the Zoom admin should disable/remove the "Webhook" only app that existed prior to creating the new OAuth zoom App.

[2020-09-01 15:05] justinegeffen commented on #157
Thanks, @aaronrothschild, I'm on it.

[2020-09-01 18:32] hanzei commented on #156
@larkox Could you please take a look at this once you are back? Maybe you can spot if this should be fixed in the webapp or in the plugin.

[2020-09-02 11:35] larkox commented on #156
It is hard to guess the problem without a reliable way to reproduce it. I know there is a different error that has to do with posting a jitsi meeting and right after a zoom meeting, but there is a PR for that.

This seems something different, but at the same time, I have no idea what might be causing it.

[2020-09-07 07:00] #157 closed

[2020-09-09 20:32] hanzei opened #164 "Add autocomplete icon"
Since v5.24 slash commands can provide an `svg` via  `AutocompleteIconData` in `model.Command` that is then shown in the autocomplete list. This ticket is about adding the icon in `assets` to the slash command.

Include screenhots from a dark and a bright theme in the PR description, as there might be the need for a separate icon with a white background for autocomplete.

Similar PRs:
For GitHub p

[2020-09-15 08:12] #156 closed

[2020-09-15 10:30] Willyfrog commented on #156
[related Jira ticket](https://mattermost.atlassian.net/browse/MM-28680)

also, while investigating I noticed that community says that the command is not registered, although it does provide autocompletion. will be interesting to check that as well once the patch is uploaded to the server

[2020-09-15 17:30] mickmister commented on #156
@Willyfrog WHen it says the command is not registered, either:
- the plugin's server portion crashed recently, and has not been picked up by the plugin hralth check job
- the plugin was disabled either manually or due to the plugin health check job

I'm not sure how the autocomplete comes into play when a plugin crashes or is disabled. @iomodo Do you have any thoughts on this?

[2020-09-23 10:34] jespino opened #167 "Add screenshot to the README"

[2020-09-24 06:28] evanractivand commented on #81
We have only a few paid Zoom accounts at our company and it would also be great if we could specify as an admin one specific Zoom account to be used to create meetings by any user who initiates, if possible. Either this could be made the default action or an option when starting a meeting by users, either would be good.

[2020-09-28 13:52] iomodo commented on #156
@Willyfrog this can happen if plugin was crushed unexpectedly and slash commands where not unregistered. Is it still reproducible?

[2020-09-28 13:53] Willyfrog commented on #156
when that happened, I think the plugin was crashing, so yes I can confirm your suspicions, but I don't think it is currently happening

[2020-10-01 04:29] DHaussermann opened #168 "Master branch is showing a lint error"
When I run the full `make` I see some type of linting error

[code]

Steps:
- Get latest from master `commit 971b02c`
- run `make`

**Observed**: Some type of lint error

[2020-10-01 07:06] #164 closed

[2020-10-01 07:07] hanzei commented on #168
This doesn't happen in CI. Making it a HW.

[2020-10-01 13:56] srgyrn commented on #168
It doesn't happen in CI because CI uses golangci-lint@1.24.0 which uses gocritic@0.4.1. The wrapperFunc_checker -which gives the mentioned warning- has been marked as stable and [removed being an _experimental_ feature in gocritic@0.5.2](https://github.com/go-critic/go-critic/commit/9213f6f2fc30514061313d0ddbd5177c47322d8b#diff-d1d1cae38b98bf81d0fdb78b508d7bf9). The gocritic version has been upgra

[2020-10-02 17:30] aaronrothschild opened #170 "Synch Status: When on a Zoom call, show as “Busy”"
So other users in the organization can tell if a user is occupied talking on a zoom call.... When the meeting is launched by the user - change status to busy - until meeting is over.

[2020-10-02 17:31] aaronrothschild commented on #110
Problem: currently users get notified if transcript and recordings being completed - which they often need to forward to other meeting attendees.
Idea: Notify users when transcript/recording is done via the ZoomBot.  Also, would be neat if there was a slash command parameter to automatically share the recording in the same channel as the meeting took place like `/zoom start share-recording`

[2020-10-04 10:43] cvhariharan commented on #170
Hi, I can pick this up :smile:

[2020-10-05 09:32] larkox commented on #170
All yours, thanks!

[2020-10-05 12:47] larkox opened #172 "Integrate E2E testing"
Following a similar design as in the [Incident Response Plugin](https://github.com/mattermost/mattermost-plugin-incident-response/tree/master/tests-e2e) integrate Cypress E2E testing for this plugin.

At least one simple test case has to be added to make sure the system works.

[2020-10-05 16:19] larkox commented on #152
@vmakarenko Do you need any more help with this?

[2020-10-05 17:58] vmakarenko commented on #152
@larkox Hi Daniel, sorry for delay. We still need help with the problem. Let me contact you next week? Thank you already!

[2020-10-07 09:16] larkox opened #175 "Release v1.4.2"

[2020-10-08 20:27] #168 closed

[2020-10-09 11:52] jprusch commented on #152
We see the same behavior when clicking the install button when setting up the Zoom part.
I switched on debug logging in Mattermost to retrieve some more info:
[zoom_log.txt](https://github.com/mattermost/mattermost-plugin-zoom/files/5354674/zoom_log.txt)

- Zoom calls can be created with /zoom start or the button
- Authentication of a single user works
- Webhook for end of a meeting works

We stil

[2020-10-13 06:13] patidar-jaishree commented on #172
@larkox Hi, I am new to open source. I would like to work on this issue.

[2020-10-13 09:33] larkox commented on #172
All yours :tada: Thank you very much!

[2020-10-13 11:29] larkox commented on #152
@jprusch Regarding the logs, can you give me more information on how that happens? I know why the panic happens, but that state should never be reached. Do you have any "complex" backend configuration (cluster, db read replicas...)?

Regarding the second error, is there any chance you have more than one webhook configured for this app? If webhooks are working fine, but you are seeing that error, t

[2020-10-13 11:30] jprusch commented on #152
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).

Mit freundlichen Grüßen

i.V. Jan-Peter Rusch

TEL +49 (0)571-502-145
j.rusch@schaeferb

[2020-10-13 11:30] jprusch commented on #152
Liebe Kollegen,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Die Mail wird NICHT weitergeleitet und nach meiner R++ckkehr bearbeitet.

In dringende F+ñllen wendet Euch bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de) oder erfasst ein Ticket ++ber

https://connect.schaeferbarthold.de/jira/servicedesk/customer/portal/3

Lieb

[2020-10-13 12:05] umlaeute opened #176 "unable to login with JWT"
I've setup the zoom-integration with JWT authentication, but whenever I try to start a new meeting I get an error from the but:

In the mattermost logs i get:

[code]

system:
- mattermost 5.26.2 (CE; as shipped with gitlab/omnibus)
- mattermost-plugin-zoom 1.4.1

I have followed the [documentation](https://mattermost.gitbook.io/plugin-zoom/installation/zoom-configuration/) to setup the plugin wit

[2020-10-13 12:08] larkox commented on #176
JWT relays on Mattermost configured email to do the authentication. If your email is different between Mattermost and Zoom, and you cannot change that, you need to use OAuth authentication.

[2020-10-13 12:11] umlaeute opened #177 "unable to login with Oauth"
given my troubles with JWT (see #176) i also tried using `OAuth` - no luck either!

I've setup the zoom-integration with Oauth authentication, but whenever I try to start a new meeting I get a message `Click here to link your Zoom account.` (which is expected), but once i click the link I get:

![zoom-oauth](https://user-images.githubusercontent.com/214034/95858792-ec268880-0d5d-11eb-9ce5-5b2560a8

[2020-10-13 12:12] umlaeute commented on #176
@larkox thanks for the quick reply, but see #177 :frowning_face:

[2020-10-13 12:15] umlaeute commented on #176
what i did forget to add is, however: I do have a zoom user-account `given.name@myuni.ac.test`.

i guess that the developer who creates the zoom-JWT-app, does not necessarily have to have the *same* email address as the mattermost user who wants to initiate a meeting.
(otherwise: each and every user would need a different zoom-JWT-app, which i think doesn't make sense)

[2020-10-13 12:16] larkox commented on #177
The problem here is that the user account you are trying to log into Zoom during that step is not a Zoom user account associated to the "company account" that created the OAuth App.
You shouldn't receive that screen at first, you should receive a login page. Maybe you are already logged in to Zoom with a different account?

[2020-10-13 12:19] umlaeute commented on #177
so i logged out of zoom, and run `/zoom start` in mattermost again:

- the zoom-login page comes up
  - i enter my credentials
- i get the "You cannot authorize this app" error again

[2020-10-13 12:20] umlaeute commented on #177
for what it is worth: my zoom-account is only a `BASIC` account (unlike the `Pro` account which was used to create the OAuth-zoom-app)

[2020-10-13 12:22] umlaeute commented on #177
so does that mean that `OAuth` authentication *only* works for accounts that are associated with the "company account"?

[2020-10-13 12:28] umlaeute commented on #176
hmm.
the idea was, that the email that comes from mattermost (`given.name@myuni.ac.test`) is used for authentication against zoom (there *is* a zoom-account `given.name@myuni.ac.test`).
however, as said in #177 , the zoom account `given.name@myuni.ac.test` is *not associated* with the company (PRO) account `zoom@institute.test`.

is this the root of the problem?

is it a requirement that all accou

[2020-10-13 17:06] umlaeute commented on #176
thanks for confirming.

is that requirement the same for JWT and OAuth?

[2020-10-13 17:14] umlaeute commented on #176
ah i just saw https://github.com/mattermost/mattermost-plugin-zoom/issues/177#issuecomment-707759121 which basically confirms that each and every user who wants to initiate a zoom-meeting from within mattermost  **must** be associated with ("member of") the zoom-account that created the zoom-application.

is this a limitation of zoom? or some design decision of the integration?
(for me, the curren

[2020-10-14 09:27] larkox commented on #176
It is a limitation on Zoom side. In theory, an app "published in the Zoom marketplace" can go around this limitation, but I have not seen yet any actual implementation of that.

[2020-10-15 07:13] umlaeute commented on #176
thanks.

if i missed this information in the documentation, then *mea culpa*.
if instead the documentation misses this piece of information, i would suggest to add it.

[2020-10-15 07:50] larkox commented on #176
@justinegeffen :point_up:

[2020-10-15 08:28] justinegeffen commented on #176
Thanks, @larkox! Thanks @umlaeute for raising this. Would you be open to updating the documentation with your feedback and submitting a pull request? If this will be your first PR please let me know and I'll be more than happy to assist. :)

[2020-10-15 22:01] DHaussermann opened #178 "Add friendly message on disconnect if user is not currently authenticated"
If a user not authenticated for Zoom uses the disconnect command, they will see an unfriendly message  `Failed to disconnect the user: unexpected end of JSON input`

This should be changed to something like "Your Zoom account is not currently linked"

Steps:
- Enable Zoom plugin and configure it to use oAuth authentication method
- Login as a user who is not authenticated with their Zoom account (

[2020-10-15 22:01] DHaussermann commented on #178
@hanzei this may make a good Help Wanted issue

[2020-10-16 08:51] #136 closed

[2020-10-16 08:53] larkox opened #179 "Fix lint error"
With some versions of the linter, the code is throwing this lint error. The task is to fix the lint error.

[code]

[2020-10-16 09:37] hanzei commented on #179
I can't reproduce this error using
[code]

@larkox What version are you running?

[2020-10-16 09:38] hanzei commented on #179
Could this be a duplicate of https://github.com/mattermost/mattermost-plugin-zoom/issues/168?

[2020-10-16 09:38] larkox commented on #179
It is :sweat_smile:

[2020-10-16 09:38] #179 closed

[2020-10-16 17:30] vmakarenko commented on #152
@larkox: I tried again with OAuth according to https://mattermost.gitbook.io/plugin-zoom/installation/zoom-configuration/zoom-setup-oauth. Same result:

http response:
[code]
mattermost.log:
[code]
It would be highly wanted to understand what went wrong.
Our setup: nginx + not dockerized instance of mattermost (5.24.0). Probably the problem is the lost HTTP headers by proxying or something similar

[2020-10-16 17:31] jprusch commented on #152
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).

Mit freundlichen Grüßen

i.V. Jan-Peter Rusch

TEL +49 (0)571-502-145
j.rusch@schaeferb

[2020-10-16 17:31] jprusch commented on #152
Liebe Kollegen,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Die Mail wird NICHT weitergeleitet und nach meiner R++ckkehr bearbeitet.

In dringende F+ñllen wendet Euch bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de) oder erfasst ein Ticket ++ber

https://connect.schaeferbarthold.de/jira/servicedesk/customer/portal/3

Lieb

[2020-10-17 00:32] yash2189 commented on #178
Hello I'm new to opensource. could you please tell me whether this message has to be added under `mattermost-plugin-zoom/server/zoom/oauth.go`?

[2020-10-19 07:07] larkox commented on #178
Probably the change has to be done in `server/store.go`, near line 65. The idea is to check whether `encoded`is empty (not sure if nil or just an empty list of bytes). That would mean that there is no user registered under that key, and therefore that user is not connected.

[2020-10-19 07:27] yash2189 commented on #178
Can I try working on this @larkox ?

[2020-10-19 07:39] larkox commented on #178
Yes, please, do. Thank you very much for contributing! :tada:

[2020-10-19 08:02] yash2189 commented on #178
@larkox I have added the changes , can you please tell me how do I install this plugin so that I can test my changes if necessary?

[2020-10-19 08:22] larkox commented on #178
Just by typing `make deploy` it should install it in your local mattermost instance. If you don't have set up your mattermost local instance for development, you can find more information here: https://developers.mattermost.com/contribute/getting-started/
If `make deploy` does not work for any reason, you can try `make dist` and upload directly the bundle to your instance.

[2020-10-19 08:33] yash2189 commented on #178
@larkox Should I be installing the server? I was a bit confused

[2020-10-19 13:15] DHaussermann commented on #178
Hi @yash2189
Sorry I'm not quite sure I understand your question but, once you run `make` both the webapp and server portions of the Zoom plugin will be built into one compiled package. They are not installed seperately.

Regarding Zoom - you can sign up for developer account here https://marketplace.zoom.us and create an oAuth App that is usable for testing. There is documentation in this Zoom re

[2020-10-19 13:31] yash2189 commented on #178
Can you please review my PR @larkox @DHaussermann ?

[2020-10-20 07:29] larkox commented on #178
In order to start developing, you need to setup your development environment. You can get all the information here: https://developers.mattermost.com/contribute/getting-started/
After you have your testing environment set up, you can run `make deploy` on the plugin folder in order to install it. Then you just have to go to the System Console and enable the plugin.
If you have any problem during th

[2020-10-20 08:03] patidar-jaishree commented on #172
@larkox I am facing issue while doing zoom plugin developer setup on my local - Can you point me to a relevant document or provide a way to configure zoom plugin for local

set following flags in config.json for mattermost-server repo
[code]
For deploying plugin using below command

[code]

Getting following error:
`ERRO[2020-10-19T17:43:32.236332+05:30] Failed to sync plugin from file store

[2020-10-20 19:13] yash2189 commented on #178
Can you please review the changes @larkox on PR #180 ?

[2020-10-22 05:59] patidar-jaishree commented on #172
@larkox Sorry I don't have permission to generate token from my zoom account. Hence I am un-assigning myself.

[2020-10-22 07:48] larkox commented on #172
@patidar-jaishree You can create a free developer account at zoom at https://marketplace.zoom.us/ , and create a testing app there.
I will get the issue back to up for grabs, but if you are able to create the developer account and try it, feel free to ping me here and I will assign you one more time :smile:

[2020-10-28 13:30] jprusch commented on #152
Sorry for the late answer: We use a standard Mattermost standalone enterprise installation with a default MySQL backend. No clustering , no read replicas. Nginx is used as a reverse proxy with standard configuration.

[2020-10-28 14:26] larkox commented on #152
@vmakarenko Thank you for your patience. Somehow I missed your message. The state should come in the oauth query string. Something like this:
`https://www.yourinstance.com/plugins/zoom/oauthcomplete?code="really long gibberish"&state="shorter gibberish"`
Could you check if the URL looks like that? If it is not, there might be a problem with the proxy.

[2020-10-28 14:27] jprusch commented on #152
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).
Mit freundlichen Grüßen
i.V. Jan-Peter RuschTEL +49 (0)571-502-145
j.rusch@schaeferbarth

[2020-10-28 14:31] larkox commented on #152
@jprusch Can you also check my previous message and see if you are having a similar issue?

[2020-10-28 14:32] jprusch commented on #152
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).
Mit freundlichen Grüßen
i.V. Jan-Peter RuschTEL +49 (0)571-502-145
j.rusch@schaeferbarth

[2020-10-30 15:53] lantrungseo commented on #154
I want to try this issue. Thanks a lot!

[2020-10-31 06:22] hanzei opened #182 "Release v1.5.0"
- [x] https://github.com/mattermost/mattermost-plugin-zoom/pull/192
- [x] https://github.com/mattermost/mattermost-plugin-zoom/pull/197
- [x] https://github.com/mattermost/mattermost-plugin-zoom/pull/198
- [x] https://github.com/mattermost/mattermost-plugin-zoom/pull/202

[2020-10-31 06:22] hanzei commented on #175
Closing as we will release a v1.5.0 instead

[2020-10-31 06:22] #175 closed

[2020-10-31 06:26] hanzei opened #183 "Release v1.5.0-cloud"
Release for cloud without JWT

[2020-10-31 06:30] hanzei commented on #182
Maybe https://github.com/mattermost/mattermost-plugin-zoom/pull/148 should get included in this release.

[2020-10-31 14:05] lantrungseo commented on #109
Hello, I would like to work on this

[2020-11-02 11:26] jprusch commented on #152
@larkox Back from some days off.... After restart & checking config the issue cannot be reproduced anymore. Meetings can be started from MM. Ending the meeting sends a message to the channel.
Thx.

[2020-11-02 14:15] vmakarenko commented on #152
[code]

[2020-11-02 15:54] ifeldshteyn opened #188 "Mattermost 5.28.1 the Zoom URL missing Password"
Hi,

We've upgraded to 5.28.1 this weekend and noticed that the zoom URL is now missing the password.

Before it was **https://companyname.zoom.us/j/313XXXXXXXX?pwd=ABCDEFG1234567890**
After it became **https://zoom.us/j/212XXXXXXX**

The config file is unchanged post upgrade, the zoom plugin stanza is the same.

[2020-11-02 16:01] #188 closed

[2020-11-03 14:45] larkox commented on #109
Thank you very much @lantrungseo !

[2020-11-04 07:10] Nisutec opened #190 "OAuth not possible"
Why i can't select OAuth at the Zoom Plugin Configuration. Has this option specific requirements.

Look at this screenshot for more informations
https://p52.p0.n0.cdn.getcloudapp.com/items/8LurWQ4E/Image%202020-11-04%20at%208.06.02%20AM.png?v=b1f4ee0a4dd497ffcbd07bf359dd932e

[2020-11-04 07:13] #190 closed

[2020-11-04 07:54] Nisutec opened #191 "Missing configuration options"
Hello,
I have installed the Zoom Plugin from the Marketplace but in the plugin configuration I can’t find all settings from the documentation. Why is the OAuth option not displayed I have installed the “Zoom 1.3.1 Version”. How I can fix this problem?

configuration screenshot:
https://drops.n-tp.de/E0urN7Jd

[2020-11-04 08:34] hanzei commented on #191
Could you please install at least Version v1.4.0 please and re-test?

[2020-11-04 20:02] #183 closed

[2020-11-06 08:35] Nisutec commented on #191
After installing Version 1.4.1 it works

[2020-11-06 08:35] #191 closed

[2020-11-06 08:46] Nisutec opened #193 "Language support"
Hello,
Is it possible to change the messages from the plugin to another language. Our Mattermost server uses for example the German language but the plugin writes all messages only in English. Is it possible to change the language of the plugin in a language file or has this plugin multi language support.

[2020-11-07 10:13] lantrungseo commented on #154
@larkox I have a question: How can we send ephemeral post to user using `postTypeZoom` component? I tried but `plugin.SendEphemeralPost(userID, post)` doesn't render anything except `Message`. Or do I need to use other methods?

[2020-11-09 10:21] hanzei opened #196 "JS warning when opening a meeting via webapp button"
![Screenshot from 2020-11-09 11-19-54](https://user-images.githubusercontent.com/16541325/98529261-b18d0e80-227d-11eb-9fa5-ff5631ff4224.png)

[2020-11-10 12:35] vmakarenko opened #199 "Improve explanation message for disabled setting "Enable Personal Meeting ID""
For the moment the plugin redirects to
![image](https://user-images.githubusercontent.com/4024310/98674506-33059f00-2359-11eb-9c58-fa7fa829f40d.png)
page and gives no idea how to proceed further, e.g. change the setting in https://zoom.us/profile/setting

[2020-11-10 15:11] catalintomai commented on #199
FYI: In Zoom one can disable personal meeting Id.

[2020-11-13 08:43] larkox commented on #199
What we can do right now is check the PMI to be a valid PMI (!= -1), and if the PMI is invalid, not create the meeting and tell the user to enable PMI.

[2020-11-13 09:17] larkox commented on #154
Answered here: https://github.com/mattermost/mattermost-plugin-zoom/pull/181#issuecomment-726236418

[2020-11-13 11:19] larkox commented on #152
@vmakarenko This is puzzling me. You are using v1.4.1, right? The only instance I have seen this happening is when you use the "Install" button on the Zoom website (since that button does not go through Mattermost and therefore does not set the state). If you are following the link in mattermost and not the Install button on the Zoom website, I still don't know how this can happen.

Another thing

[2020-11-16 17:59] mickmister opened #200 "Support naming the zoom meeting via `/zoom start`"
When the MM user wants to start a meeting, we can allow them to supply a meeting title/topic within the `/zoom start` slash command, like so:

`/zoom start Meeting about the new project requirements`

_Originally posted by @mickmister in https://github.com/mattermost/mattermost-plugin-zoom/pull/147#discussion_r524409386_

[2020-11-18 14:56] vmakarenko commented on #152
Hi Daniel, may I invite you as guest to our mattermost instance? https://community.mattermost.com/core/messages/@daniel.espino.garcia is closed due to exceeded number of allowed users :(

[2020-11-20 21:57] DHaussermann opened #201 "Remove `Beta` label on Enable oAuth"
We should remove the Beta label for the Enable OAuth field.
I have spoken with Aaron and is this is the release to move people off JWT we don't want this Beta label anymore. Also note that the cloud release always had Oauth enabled so, it should not be Beta for the on prem release

![Screen Shot 2020-11-20 at 4 45 56 PM](https://user-images.githubusercontent.com/35588783/99853658-66161280-2b51-11e

[2020-11-22 09:34] lantrungseo commented on #109
I am re-designing the whole workflow. Guess if we need to update post like this, the event to subscribe should be `Participant joined` rather than `Participant joined before host`, is it?

[2020-11-23 19:45] #201 closed

[2020-12-06 02:07] srpape commented on #152
I'm having a similar issue. I can start meetings, but cannot install the oauth app on the zoom site.

I receive the message "invalid OAuth user state" when I try. Starting meetings works, but I haven't seen the webhook work.

[2020-12-07 21:04] #196 closed

[2020-12-09 11:25] larkox commented on #152
@srpape Are you trying to hit the "install" button at the end of the Zoom setup? That is not needed.

Regarding webhooks, have you configured them on the Zoom side? Is you instance receiving the calls (maybe some info in the server logs)?

[2020-12-12 07:07] #182 closed

[2020-12-14 16:03] jprusch opened #203 "OAuth error on account level authorization with Enterprise Zoom"
Hi,
setting up Zoom with user level authentication works. But when I try to set up an account based authentication I get errors:

`2020-12-14T16:16:05.730+0100    warn    mlog/sugar.go:27        failed to execute command       {"plugin_id": "zoom", "error": "error fetching zoom user: Get \"https://api.zoom.us/v2/users/my.name@company.de\": oauth2: cannot fetch token: 401 Unauthorized\nResponse: {\

[2020-12-15 15:00] larkox commented on #203
@jprusch When setting the "Account Level App", have you gone through the oauth process with the Admin user? In order for this to work you have to:

- Go to the system settings, and set "Account Level App" to true
- Make sure the information you have as OAuth Client ID and OAuth Client Secret is for a Account Level App on Zoom side.
- On Mattermost, as a sysadmin, run `/zoom connect`
- Follow the l

[2020-12-15 16:50] jprusch commented on #203
@larkox Thanks! I think I forgot to unconnect after my first try. Works now with account level settings.

[2020-12-15 16:50] #203 closed

[2021-01-13 10:11] larkox commented on #193
Jitsi can be used as an example on how to handle localization.

[2021-01-13 10:12] larkox commented on #152
@srpape Are you still experiencing issues here?

[2021-01-13 10:14] larkox commented on #167
It would be interesting to update the screenshots on the Gitbook too, since they show an outdated UI of Mattermost.

[2021-01-13 10:54] larkox commented on #46
As a first approach we could do the following:
- Add a new command only available for sys admins like `/zoom teamsettings`. This will open a interactive dialog to introduce Client ID, Client Secret and Webhook Secret.
- If the settings are left blank (or no settings are set) it will use the global settings.
- For user level apps, make sure to store the tokens separate for each team and global. The

[2021-01-13 23:55] srpape commented on #152
@larkox Yes, I was hitting the "install" button at the end of the Zoom setup.

I did try to use it anyway, and we had people experiencing issues. I ended up reverting and going back to JWT after messing around with it for quite a while. I'll give it another try at some point, but don't hold the ticket open for me.

[2021-01-14 09:31] larkox commented on #152
Great. If there is anything I can do to help you, do not hesitate to open a new bug, or contact me on [Mattermost Community](https://community.mattermost.com/core/messages/@daniel.espino.garcia).

[2021-01-14 12:59] #176 closed

[2021-01-14 12:59] #177 closed

[2021-01-16 22:55] kott commented on #200
I wouldn't mind taking this on.

[2021-01-18 09:51] larkox commented on #200
Thanks @kott for your interest! All yours :smile:

[2021-01-20 18:14] mickmister opened #210 "Change wording of post when meeting ends"
When a zoom meeting ends that was started with the zoom plugin, the post is updated with the phrase:

The task here is to change the wording to:

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/rw9mixywr7yf5eoh3zk76uat1w) *by @larkox*._

[2021-01-21 01:33] emskaplann commented on #210
I've updated the phrasing as you asked. I'm pretty new to open source contributing, so I hope everything is in place. Thanks!

[2021-01-21 12:04] larkox commented on #210
Thanks for the interest @emskaplann . Will give some feedback on the PR :smile:

[2021-01-29 08:55] #210 closed

[2021-02-04 11:09] jprusch opened #213 "Start zoom meeting sometimes displays an unauthorized error message"
Hi,
we're using Zoom Enterprise with account level authorization. While the Zoom plugin is working like a charm one day, I get errors the next day (Check screenshot). There've been no configuration changes in between. I'm the only person configuring the Zoom app & Mattermost part.

![image](https://user-images.githubusercontent.com/9337414/106881611-0c4bd000-66de-11eb-9139-3d605218bde8.png)

The Z

[2021-02-04 11:15] larkox commented on #213
Not sure how this could happen. How long would you say passed between you authorized mattermost the first time, until you got the invalid token problem? (a rough time frame is enough, like one day, a few days, one week, a few weeks...)

[2021-02-04 11:18] jprusch commented on #213
It was working on Tuesday & stopped working today, so about 2 days.

[2021-02-07 08:01] jprusch commented on #213
Happend again today after working on 2.5 days ago. Dis- & reconnecting to Zoom lets me start meetings again. But this is not the solution.

Mattermost log is clean, not logging any errors or warnings.

[2021-02-08 09:44] larkox commented on #213
Thank you @jprusch. I will investigate this further.

[2021-02-11 16:27] schmidtytg opened #214 "500 internal server"
Mattermost Version: 5.28.1
Database Schema Version: 5.28.0
Database: mysql
Mysql 8.0.22
Zoom plugin: 1.5

I'm able to resolve the issue by disabling the plugin and then enabling it again. While this usually isn't a big deal, I'm not always available to reset the plugin.

I tried completely uninstalling and reinstalling the plugin a couple months ago, but the same behavior seems to be continuing.

[2021-02-11 16:28] schmidtytg commented on #214
I forgot to add that OAuth is not enabled.

[2021-02-12 16:06] aaronrothschild commented on #214
Hey @schmidtytg Thanks for filing this (and welcome to Github)!

We'll review it in our team meeting on Monday/Tuesday to triage it and see if we need more info from you, etc.

[2021-02-12 16:07] aaronrothschild commented on #214
Sorry, could you elaborate?  are you using JWT or OAuth for your Zoom app authentication method?

[2021-02-12 16:29] schmidtytg commented on #214
We're using JWT, not OAuth.

[2021-02-12 20:17] sadohert opened #215 "Document steps to authorize "Account Level App""
A customer was following the docs and ran into an issue with Zoom.

They are using the  "Account Level App" integration (versus the "User Level").

We need to describe the authorization steps that a Zoom admin needs to follow to complete the integration.  This [issue comment](https://github.com/mattermost/mattermost-plugin-zoom/issues/203#issuecomment-745348681) explains the additional steps:

* O

[2021-02-13 06:59] schmidtytg commented on #214
After doing an upgrade yesterday to server version 5.31.1, all hell broke loose. It turns out I hadn't updated the character set on all the tables after updating mysql to 8.0.

I've updated the collation of all the database tables to utf8mb4_unicode_ci. Things have been looking much better performance-wise since.

Given this major revelation/rtfm, it would seem prudent to wait and see if the issue

[2021-02-16 05:30] checkaayush commented on #193
@hanzei I'd like to give this a shot.

[2021-02-16 09:49] larkox commented on #193
Thanks @checkaayush ! All yours.

[2021-02-16 20:53] checkaayush commented on #193
### Thoughts

### Jitsi i18n References
- Backend: https://github.com/mattermost/mattermost-plugin-jitsi/pull/81
- Frontend: https://github.com/mattermost/mattermost-plugin-jitsi/pull/79
- Consider using `mattermost-plugin-api/i18n` package (https://github.com/mattermost/mattermost-plugin-jitsi/pull/146)
- Weblate: Check if required translations are available.

### Reading
- https://stackoverflow.

[2021-02-18 16:06] unholyfrank opened #216 "Feature request: auto assign license from a business account pool on start new meeting"
Hi! It would be great, if we could automatically assign license to a basic user (from some pool of free non-assigned licenses inside business account) on start Zoom meeting. And, then, remove license to a pool when meeting ended.
Thanks!

[2021-02-21 07:00] unholyfrank commented on #216
The same idea is described in this thread, and there is Zoom staff answer, how to use Zoom Api for it. https://devforum.zoom.us/t/limit-on-user-creation-and-changing-from-free-to-premium-license/34524

[2021-02-26 15:56] schmidtytg commented on #214
Unfortunately this issue just reared its ugly head again.

{"level":"error","ts":1614354624.8175862,"caller":"mlog/log.go:232","msg":"Plugin failed to ServeHTTP, RPC call failed","plugin_id":"zoom","error":"connection is shut down"}
{"level":"error","ts":1614354627.7682946,"caller":"http/h2_bundle.go:4218","msg":"http2: server connection error from 69.67.17.128:4721: connection error: PROTOCOL_ERR

[2021-03-04 18:26] charlesogilvie commented on #213
At my company we are experiencing the same issue and resolved it the first time with /zoom disconnect and /zoom connect

Our connection from Mattermost to Zoom lasted an hour the first time. We are connected for the second time now.

Same error was displayed when trying to start a meeting:
Error fetching user: error fetching zoom user: Get "https://api.zoom.us/v2/users/fake@user.com": oauth2: cann

[2021-03-05 09:44] larkox commented on #213
After looking deeper into this and the documentation, the first token received last for just one hour. A refresh has to be made in order to use the token.

[2021-03-05 09:45] larkox commented on #213
To fix this, changes will be needed in the code. We hope to have this fixed this in the next release.

[2021-03-25 22:15] schmidtytg commented on #214
I don't understand why this issue was closed. I just had another issue with the plugin crashing. This sent the CPU of my mattermost server up to 100% for about 10 minutes before I was able to disable/enabled the Zoom plugin. Once the zoom plugin was disabled and then reenabled, the CPU dropped back to to its normal levels.

This was the process that was running at high CPU: plugin-linux-am
There w

[2021-04-08 19:44] jcolinger3 opened #218 "Zoom plugin - 1 MM install with 3 Zoom orgs/accounts"
Hello,

Our Mattermost CE is for our "school district" for 3 schools with Staff, and each school has their own Zoom account.

Is this plugin capable of handling the OAuth for the 3 distinct Zoom accounts that we have for each school?  It seems like it is just for one.

[2021-04-14 17:34] schmidtytg commented on #214
This continues to happen. Any help would be appreciated.

[2021-04-18 07:44] checkaayush commented on #193
@larkox Hi, it seems like I don't have the bandwidth at the moment to pick this. Please un-assign me from this. Apologies.

[2021-05-27 11:31] hanzei commented on #214
Could you please set the log level of your MM server to `Debug` and check if you see any related messages around the crash?

[2021-05-27 11:33] #216 closed

[2021-06-22 14:00] Mmoushon commented on #46
@larkox my team is looking to take this on. We have a very similar use to @yoannspace, we have a multi-tenant environment so we need the ability for users to link their MM account to different zoom accounts. In your recommended approach above would a user from team X, who has a paid account on MM team X, be able to create a meeting in a MM team Y channel or would they have to have an account on te

[2021-06-25 10:59] larkox commented on #46
I will leave @aaronrothschild to make the final decission, but here is my take.

A meeting started from certain team will use the team settings. Therefore, if I belong to two different teams, I would need two different zoom accounts, and connect those two times, one for each team.

Another take, that I like less, but it is also interesting, would be to not tie things to teams, and just define seve

[2021-06-25 11:01] larkox commented on #46
If we set security aside, I see no big problem the URL being part of the configuration (either on the teamsettings approach, or the accounts approach).

[2021-06-30 14:13] #178 closed

[2021-08-02 09:33] #213 closed

[2021-08-23 15:01] ewwollesen opened #223 "User can start meeting in a channel that they do not have appropriate permissions to post in"
I don't know if this is necessarily a Zoom plugin issue, but since it was the Zoom plugin where I noticed it I thought I would start here and then if I need to open an issue in the main MM repo then I can do that or maybe it's just a config setting on our end.

We have a channel that we have effectively made read-only using [channel moderation](https://docs.mattermost.com/manage/team-channel-membe

[2021-09-02 03:41] maisnamrajusingh commented on #223
This is similar to the msteams issue, so will work on this once we resolve that one. https://github.com/mattermost/mattermost-plugin-msteams-meetings/issues/29

[2021-09-21 16:40] mickmister opened #224 "`/zoom start` slash command posts in channel instead of thread"
If you run `/zoom start` in a thread, it would be expected for the meeting link to be posted as a reply in the thread, but it is instead posted in the channel as its own thread.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/4zpe4ko81brdxrt4s3ksijyskh) *by @mickmister*._

[2021-09-23 09:51] weilong0820 opened #225 "How to install Zoom plugin for mattermost"
Hi, i dont know how to install zoom plugin, can you help me? Thanks!

[2021-09-23 10:23] larkox commented on #225
You have all the needed information in the documentation of the plugin. In particular here:
https://mattermost.gitbook.io/plugin-zoom/installation/install-zoom-plugin

[2021-09-25 04:16] weilong0820 commented on #225
![image](https://user-images.githubusercontent.com/56424996/134757536-74ac627d-0a4b-420c-b9c2-a743abd69bf8.png)
![image](https://user-images.githubusercontent.com/56424996/134757547-7f62feb0-8323-45ef-927b-ed41eeced5aa.png)
But when i click connect Zoom account then 404 NOt Found

[2021-09-27 10:24] larkox commented on #225
@weilong0820 Just to confirm, does the URL seems correct? (Is it missing any important information as might be the port).

Also, do you have correctly configured the Site URL in the system console?

[2021-09-30 07:56] larkox opened #229 "Update mattermost-setup.md to remove references to "Enable Password Based Authentication""
We used to have a setting that was called "Enable password based authentication". We removed that setting and we decide whether we want Password based authentication depending on whether OAuth is Enabled or not.

The scope of this ticket is to:
- Remove the reference in mattermost-setup.md and any other part of the documentation to the "Enable password based authentication" setting.
- Update scree

[2021-10-01 04:33] joshalling commented on #229
I can take this one.

[2021-10-01 07:38] larkox commented on #229
@joshalling All yours. Thanks!

[2021-10-20 17:02] larkox opened #235 "Update tokens when they get refreshed on User Level OAuth"
Right now, on Account Level OAuth, OAuth tokens are updated when the token gets refreshed.

https://github.com/mattermost/mattermost-plugin-zoom/blob/2acac55e7fc60b0da7cb7f6c3ef17f33a844cd78/server/zoom/oauth.go#L101-L120

This should be also done for User Level Apps. Also, it would be nice to check if all paths are correctly updating all the tokens (User Level and Account Level).

[2021-10-25 13:50] sibasankarnayak opened #236 "Cross-plugin task: Enable the CircleCI "test" job in each plugin repo that has a webapp plugin"
The .circleci/config.yml file needs to be updated to run the webapp tests in CI.

[2021-10-28 07:53] #236 closed, assigned to sibasankarnayak

[2021-11-10 19:06] dipak-demansol opened #238 "After Executing The Zoom Command, Command is still there in the thread Chat (issue only generate in the Thread Chat)"
https://user-images.githubusercontent.com/89907719/141177129-4c16aba5-ef44-4f11-9626-9c41643227fa.mp4

[2021-11-10 19:13] dipak-demansol opened #239 "After link the account with zoom after some time randomly when i use /zoom start command then again its asking me to link the account."
**i don't have fix steps to regenerate the issue but maybe the console logs will help you**

https://user-images.githubusercontent.com/89907719/141178114-794363f6-3e2d-44c5-b4dc-eb87d4184d95.mp4

![Screenshot from 2021-11-10 18-04-36](https://user-images.githubusercontent.com/89907719/141178140-9f77cc0a-e5eb-4dd3-b1f3-84e5cc4529f5.png)
![Screenshot from 2021-11-10 18-24-09](https://user-images.git

[2021-11-10 19:25] dipak-demansol opened #240 "zoom meeting message is not edited."
https://user-images.githubusercontent.com/89907719/141179728-505df1ec-1267-4454-97fa-e5926bece3da.mp4

[2021-11-11 07:43] hanzei commented on #238
This is a not a zoom specific issue tracked in https://mattermost.atlassian.net/browse/MM-34521

[2021-11-11 07:43] #238 closed

[2021-11-11 07:43] hanzei commented on #238
Good catch @dipak-demansol :+1:

[2021-11-11 08:00] #223 closed

[2021-11-12 21:12] jcolinger3 opened #241 "Single Mattermost, three Zoom accounts"
Hello, we have a single Mattermost install.  But we have 3 different Zoom accounts (required for accounting, legal purposes).

Is there any method to use this plugin in our use case?
I've successfully used User Account oAuth to get it set up with one Zoom account/email domain.

But presumably, the other users that have an email that belongs to the other two Zoom accounts are failing to Authorize/C

[2021-11-15 13:15] vicky-demansol commented on #235
`
 ​func​ (​c​ ​*​OAuthClient​) ​getUserViaOAuth​(​user​ ​*​model.​User​) (​*​User​, ​error​) {
 ​        ​url​ ​:=​ ​fmt​.​Sprintf​(​"%s/users/me"​, ​c​.​apiURL​)

 ​                ​currentToken​, ​err​ ​:=​ ​c​.​api​.​GetZoomSuperUserToken​()
 ​                ​if​ ​err​ ​!=​ ​nil​ {
 ​                        ​return​ ​nil​, ​errors​.​Wrap​(​err​, ​"error getting zoom super user token"​)
 ​    

[2021-11-15 19:50] catalintomai commented on #239
@dipak-demansol - can you try this scenario at different time intervals - see if there is a pattern?

[2021-11-16 06:18] dipak-demansol commented on #239
Sure.

[2021-11-16 12:17] larkox commented on #235
This seems the functionality for the account level oauth, not for the user level oauth. Feel free to create a PR so we can look better at the changelog.

[2021-11-18 15:27] jostreff opened #243 "freebsd compatibility"
Dear Developers,

please add FreeBSD also as possible build targets of the plugin. I have building myself changing only 2 files in your source - Makefile and plugin.json to make custom build of the plugin for my self hosted mattermost community running on FreeBSD13.

My changes are:
=====
        mkdir -p server/dist;
++        cd server && env GOOS=freebsd GOARCH=amd64 $(GO) build $(GO_BUILD_FLAG

[2021-11-26 13:19] dipak-demansol commented on #239
after 1 hour its again asking to link the account but still its not the issue that i was talking about, under 30 minutes the issues was generated but i tried to regenerate it again but its not regenerated, its generated after 1 Hour.

[2021-11-29 11:51] hanzei opened #244 "Add auto complete for zoom topic command"
The functionality for this is looking good!
One request would be, is it possible to also update the slash command auto complete functionality for start with help text such as **topic (optional)** This would help users discover the new functionality.

_Originally posted by @dipak-demansol in https://github.com/mattermost/mattermost-plugin-zoom/pull/209#pullrequestreview-802946381_

[2021-11-29 11:52] hanzei commented on #244
cc @kott

[2021-11-29 11:56] #200 closed

[2021-11-29 13:24] dipak-demansol commented on #239
catalintomai i found the steps, that's how i was facing the issue.
steps :- 1) use /zoom start command
             2) after 1 hour in the same channel use same command as /zoom start and it should work and meeting should created successfully.
             3) go in the other channel and type /zoom start command and **now it will Not Work and give you the link to connect your account.**

but the co

[2021-11-29 13:53] dipak-demansol commented on #239
re-added triage label, now re-pro steps added.

[2021-11-29 20:02] catalintomai commented on #239
@dipak-demansol  - Thanks for investigating it. Looks like a valid issue - can the dev team start looking into a fix?

[2021-12-07 07:09] dipak-demansol commented on #239
more info about the re-pro steps, **after the 2nd step if the user again use the same command in the same channel then also the command will not work and user will get the same URL to link the zoom account.**

[2021-12-07 13:09] #224 closed

[2021-12-20 12:10] #81 closed

[2022-01-06 02:45] sibasankarnayak commented on #240
@mickmister @hanzei
i was just looking into the issue , need some help it seems more like editing a post and it is a part of mm-server/mm-webapp
1. can a post can be edited ?

[2022-01-06 14:13] sibasankarnayak commented on #240
@mickmister the current goal is to edit the message i have started a meeting once i start a zoom meeting but currently we are not able to do so after edit i still see the previous default message

i was checking the code and seems we are having this edit message logic in mm-server , so was not sure that we were able to edit a post

[2022-01-10 11:17] larkox commented on #240
The reason we "cannot edit the message" is because it is a custom post. The rendering is not using the message itself, it is rendering what the plugin says to render.

The message is still useful since it is what will show when the plugin gets disabled or the user is looking from the mobile App. And it is probably being updated.

One approach to "fix" this, is to use the message on the post to ren

[2022-01-10 16:58] mickmister commented on #240
@sibasankarnayak Please see the comment above

[2022-01-10 19:34] #229 closed

[2022-01-21 20:03] AugustasV commented on #167
Oh I checked this task and understood that I couldn't do it because I don't have paid zoom account...

[2022-01-24 18:26] hanzei commented on #239
@sibasankarnayak Can we close this then as a duplicate of https://github.com/mattermost/mattermost-plugin-zoom/issues/235?

[2022-01-28 10:14] larkox commented on #167
@AugustasV I think you should be able to deal with everything needed for this task with a developer account. Am I wrong?

[2022-01-28 10:27] AugustasV commented on #167
@larkox I saw it in official documentation that I must have paid account https://mattermost.gitbook.io/plugin-zoom/installation/mattermost-setup I tried with free account Developer credentials but it didn't work.

[2022-02-01 09:28] larkox commented on #167
@AugustasV If I am not mistaken, a paid account is needed to "properly use" the plugin. With a developer account, you will be the only one that can create meetings (there are no more people in your account). But that should be enough to deal with all the functionality you have to access. Am I missing anything? What exactly didn't work for you?

[2022-02-01 09:42] larkox commented on #167
I have seen that @mickmister has uploaded several screenshots to use on the new installation flow (here is the PR https://github.com/mattermost/mattermost-plugin-zoom/pull/249/files ).

Maybe you can use those.

[2022-02-07 22:56] jcolinger3 commented on #241
Does anyone else have a set up like ours?  Not sure what to do, but we'd really like to get the Zoom integration working.

[2022-02-08 10:05] larkox commented on #241
@aaronrothschild :point_up:

As of today, there is no way in the plugin to support such a setup.

[2022-02-10 08:29] jeromegrosse commented on #244
On it! :)

[2022-02-10 08:48] hanzei commented on #244
Awesome, thanks @jeromegrosse :tada:

[2022-02-14 15:22] DHaussermann opened #252 "Zoom Authentication shows invalid oAuth state on first attempt"
There is an issue with Zoom authentication where the user will see `invalid OAuth user state` the first time they attempt to use the connection link when using oAuth.
On the other 2nd attempt the connection link seems to work.
- This issue does **not** seem to occur when using the latest production release `v1.5.1`
- The issue does seem to occur in the `master` branch

Steps:
- Build zoom from `ma

[2022-02-14 17:46] larkox commented on #252
@DHaussermann any chance there is any difference between using the `/zoom start` command, `/zoom connect` command and clicking the start meeting button?

[2022-02-14 19:59] catalintomai commented on #252
@sanjaydemansol - can you take a look into it - seems to be a regression from previous release - also blocks this week's Zoom plugin release.

[2022-02-15 13:27] hanzei commented on #252
cc @lufty-demansol

[2022-02-28 18:31] DHaussermann opened #254 "The post content for Zoom is being duplicated"
When a post is being created for Zoom to join a meeting, the post is being duplicated.
![image](https://user-images.githubusercontent.com/35588783/156040061-76a13c50-15ec-4a5a-a727-1ed47ad1e67f.png)

- This happens consistently on Community.
- This happens from the channel icon as well as the start slash command
- This happens from browser and desktop
- On a  `/cloud` server i have running I was *

[2022-02-28 18:48] DHaussermann commented on #254
If it's relevant - When the webhook updates the post on meeting end, the timestamps are different as 1 is in UTC.
![image](https://user-images.githubusercontent.com/35588783/156040840-b05cf615-1eb9-4695-88f4-99f79ac45bf3.png)

[2022-02-28 19:58] catalintomai commented on #254
other potential plugins: jitsi, nps, playbooks(?), boards(?)

[2022-02-28 20:02] hanzei commented on #254
![Screenshot from 2022-02-28 21-01-41](https://user-images.githubusercontent.com/16541325/156050601-dc29280a-0569-4a36-84ed-1cf8df4f5f03.png)

This issue also reproduces with Jitsi. @DHaussermann Please open a Jira ticket.

[2022-03-01 10:05] hanzei commented on #254
Playbooks is also effected
![Uploading Screenshot from 2022-03-01 11-03-46.png…]()

[2022-03-01 11:01] larkox commented on #254
May be a change in webapp were it is showing both the attachment and the plugin custom post?

[2022-03-15 20:59] hanzei commented on #254
@DHaussermann To ensure this doesn't get lost: Is there a ticket yet?

[2022-03-23 13:13] sphr opened #256 "Confirmation when clicking on zoom icon"
Would it be possible to add a confirmation "Are you sure you want to start a zoom meeting in channel X?", configurable where default is disabled?

I've noticed users accidentally hitting the zoom icon since the profile icon is close to it.

[2022-06-08 03:40] mickmister opened #265 "Release v1.6.0"

[2022-06-08 03:43] mickmister opened #266 "Error installing v1.6.0 from marketplace: "Unable to verify plugin signature""
For reasons unknown at the moment, the marketplace PR https://github.com/mattermost/mattermost-marketplace/pull/287 results in the Zoom plugin failing to install via the marketplace. I receive the following error:

![image](https://user-images.githubusercontent.com/6913320/172527045-99658cf8-82cd-47fe-8347-f9f49bb11d33.png)

[2022-06-08 08:05] agarciamontoro commented on #266
I bet that the signature in the manifest is the one from v1.5.1. I'll take a look

[2022-06-08 08:06] agarciamontoro commented on #266
Ah, you already did, thank you!

[2022-06-13 19:16] #266 closed

[2022-06-13 19:16] #265 closed

[2022-06-13 19:17] mickmister commented on #170
There is progress on this feature here https://github.com/mattermost/mattermost-plugin-zoom/pull/234. If someone would like to work on this, I suggest using that PR as a starting point

[2022-07-28 21:31] mickmister commented on #252
Fixed with https://github.com/mattermost/mattermost-plugin-zoom/pull/268

Reopened https://github.com/mattermost/mattermost-plugin-zoom/issues/239 and https://github.com/mattermost/mattermost-plugin-zoom/issues/235

[2022-07-28 21:31] #252 closed

[2022-08-04 20:42] dannyrich opened #272 "Server-to-server OAuth to replace JWT"
Zoom announced that they have deprecated JWT in favor of Server-to-Server OAuth for account-level API access.

https://marketplace.zoom.us/docs/guides/build/jwt-app/jwt-faq/

Are there plans to include Server-to-Server OAuth options for this plugin? We have until June 2023 to replace JWT.

[2022-08-05 14:44] mickmister opened #274 "Release 1.6.1"
- https://github.com/mattermost/mattermost-plugin-zoom/pull/237
- https://github.com/mattermost/mattermost-plugin-zoom/pull/233
- https://github.com/mattermost/mattermost-plugin-zoom/pull/269
- https://github.com/mattermost/mattermost-plugin-zoom/pull/253

[2022-08-08 18:45] mickmister opened #276 "On-prem license causes error when checking for Cloud license"
Since `license.Features.Cloud` is a `*bool`, dereferencing this pointer causes a panic when it is nil. In the case of an on-prem license, this is nil which causes this issue.

[2022-08-09 00:36] #276 closed

[2022-08-11 17:46] mickmister opened #278 "Implement webhook validation"
Zoom has changed how their webhook setup works, and requires some logic on our end to validate the webhook is setup properly. This involves:

- [Validating the webhook](https://marketplace.zoom.us/docs/api-reference/webhook-reference/#validate-your-webhook-endpoint) during setup
- [Verifying the webhook's signature](https://marketplace.zoom.us/docs/api-reference/webhook-reference/#verify-webhook-e

[2022-09-18 15:02] catalintomai opened #280 "MM-47046 Use version of React DOM provided by web app"
From [here](https://github.com/mattermost/mattermost-plugin-demo/pull/153):

"For some more context, see [here](https://community.mattermost.com/core/pl/1fkkx7pj1jrwffrc6drh3x71eh). The short version though is that we updated the web app to React 17, and there's a chance that plugins will have some issues with it because they're compiled with the React 16 version of ReactDOM. I'm submitting PRs to

[2022-09-20 08:59] #274 closed

[2022-10-04 04:10] hanzei commented on #280
@mickmister Do you plan to work on this one or do we leave it open for someone to pick it up?

[2022-10-09 14:12] #244 closed

[2022-10-31 11:48] mickmister opened #283 "Formally deprecate JWT authentication offering"
Zoom is deprecating their JWT authentication offering, and so we should explicitly do the same in our system. We have been encouraging use of the user-level OAuth instead of this, but we should now formally deprecate the JWT offering since it's now being done on Zoom's side.

Notice from Zoom about this:

-----

#### Marketplace Reminder: Server-to-Server OAuth App Type and JWT Deprecation

Zoom r

[2022-11-03 09:45] #280 closed